#page_alliance_attacks {
  .container {
	&#javascriptwarning {
	  + .container + .container,
	  + .container + .container + .container,
	  + #notice + .container + .container,
	  + #notice + .container + .container + .container {
		> .maintext {
		  > table {
			tr {
			  &:not([class]):not([id]) {
				background: transparent !important;
			  }
			}
		  }
		}
	  }
	}
  }

  .maintext {
	> table {
	  width: auto;

	  > thead,
	  > tbody {
		> tr {
		  background-color: $color-secondary;

		  &:nth-child(4n+1) {
			background-color: $color-secondary-alt;
		  }

		  &:first-child {
			th {
			  color: $color-text;
			  font-size: $text-small;
			  font-weight: bold;
			  padding: 3.5px 7px;
			  background: #171e27;
			}
		  }

		  &[id^='target_'] {
			height: auto;
			transition: all 1s linear;

			&[style='display: none;'] {
			  height: 0;
			}

			&[style='display: table-row;'],
			&[style] {
			  height: auto;
			  animation: fade 1s;
			}

			> td {
			  background: $color-background;
			}

			table {
			  padding: 0;
			  background: $color-background;
			  width: 100%;
			  border: 2px solid rgba($color-primary, .25);
			  border-right: 12px double rgba($color-primary, .15);
			  border-left: 12px double rgba($color-primary, .15);
			  margin-bottom: 0;

			  tr {
				th {
				  white-space: nowrap;
				}

				&[class^='shadedbackground'] {
				  background: $color-secondary;

				  td {
					border-top: 1px solid rgba($color-primary, .19);

					ul {
					  &.alliance_attack_claims_list {
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						justify-content: flex-start;

						li {
						  font-size: $text-small;
						  font-style: italic;
						  margin: 0 7px;

						  a {
							font-style: normal;
							margin: 0;
						  }

						  table {
							font-style: normal;
						  }
						}
					  }
					}
				  }

				  &:nth-child(even) {
					background: $color-secondary-alt;
				  }
				}
			  }
			}
		  }

		  > td:not([colspan='6']) {
			padding: 3.5px 7px;

			&.center {
			  &[style='width: 50%;'],
			  &[style='width: 50%;'] + td {
				background: transparent;
			  }
			}

			> table {
			  padding-left: 28px;
			  border-spacing: 0;
			  margin: 0;

			  > tbody {
				> tr {
				  > th {
					font-size: $text-small;
					padding: 3.5px;
				  }

				  > th,
				  > td {
					padding: 3.5px 0;

					&:nth-child(1),
					&:nth-child(2) {
					  text-align: center;
					}

					&.center {
					  text-align: left;
					  padding-left: 14px;
					}
				  }
				}
			  }
			}
		  }
		}
	  }
	}

	#wave_table,
	#target_table {
	  width: auto;
	  margin-bottom: 0;

	  tr {
		th {
		  padding: 3.5px 7px;
		}

		td {
		  padding: 3.5px 7px;
		  background: $color-secondary;

		  &[colspan='5'] {
			border-top: 4px double rgba($color-primary, .25);
		  }

		  &:last-child {
			text-align: center;
		  }
		}

		&:nth-child(odd) {
		  td {
			background: $color-secondary-alt;
		  }
		}

		th,
		td {
		  &:empty {
			background: transparent;
		  }
		}
	  }
	}
  }

  p {
	text-align: center;
  }
}

#attack_claim_form,
.alliance_attack_claims_status {
  background: $color-background;
  width: auto !important;
  min-width: unset !important;
  border: 1px solid rgba($color-primary, .5);

  table {
	margin-bottom: 0;
  }
}

#attack_claim_form {
  padding-top: 36px;

  &:before {
	color: $color-offwhite;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 100%;
	text-align: center;
	padding: 8px 0;
	content: 'ATTACK CLAIMS';
	background: $color-secondary;
	background: linear-gradient(to right, $color-background 0%, $color-secondary 50%, $color-background 100%) !important;
	width: calc(100% - 2px);
	border: 1px solid transparent;
	border-top: none;
	border-image: linear-gradient(to right, transparent 0%, rgba(82, 165, 248, .5) 50%, transparent 100%);
	border-image-slice: 1;
	position: absolute;
	top: 0;
	left: 0;
  }

  p {
	position: absolute;
	top: 4px;
	right: 4px;
  }

  table {
	tr {
	  td {
		padding-top: 7px !important;

		&:nth-child(2) {
		  padding-left: 3.5px !important;
		}

		input {
		  &:not([type='checkbox']) {
			width: 100%;
			margin: 0;
		  }

		  &[type='checkbox'] {
			margin-left: 0;
		  }

		  &[type='submit'] {
			margin: 0 !important;
		  }
		}
	  }
	}
  }

  .right,
  .left {
	padding: 0;
  }
}