#page_alliance_fleets,
#page_universe_combat_reports,
#page_alliance_fund {
  #contents {
	table {
	  &:last-child:not(:first-child) {
		max-width: 485px;
	  }

	  tr {
		td {
		  background: $color-secondary;

		  &:empty,
		  &[colspan="5"],
		  &[colspan="6"] {
			background: transparent !important;
		  }

		  &:empty {

		  }

		}

		&:nth-child(odd) {
		  td {
			background-color: $color-secondary-alt;
		  }
		}
	  }
	}
  }
}

#page_alliance_fleets {
  #contents {
	table {
	  width: auto;
	  tr {
		th,
		td {
		  &:empty {
			background: $color-background !important;
		  }
		}
	  }
	}
  }
}

#page_alliance_fund {
  #contents {
	table {
	  max-width: 800px;

	  tr {
		th {
		  &[colspan="5"] {
			background: transparent !important;
			padding-bottom: 1rem;
		  }
		}

		td {
		  &[colspan="5"] {
			padding: 1rem 0;

			&[class="center"] {
			  padding: 0;
			}
		  }
		}
	  }
	}
  }
}