#page_alliance_members {
  table {

	tr {
	  &:first-child th {
		font-weight: bold;
		background: $color-bg-th;
		color: $color-text;
	  }

	  &:nth-child(odd) {
		td {
		  background-color: $color-secondary-alt;
		}
	  }

	  &:nth-child(even) {
		td {
		  background-color: $color-secondary;
		}
	  }
	}
  }
}