#page_alliance_members {
  table {
	tr {
	  &:first-child th {
		color: $color-text;
		font-weight: bold;
		background: $color-bg-th;
	  }

	  &:nth-child(odd) {
		td {
		  background-color: $color-secondary-alt;

		  &:empty {
			background: transparent;
		  }
		}
	  }

	  &:nth-child(even) {
		td {
		  background-color: $color-secondary;

		  &:empty {
			background: transparent;
		  }
		}
	  }

	  &:hover {
		td {
		  background: rgba($color-primary, .2);
		}
	  }
	}
  }
}