#page_alliance_fleets,
#page_universe_combat_reports {
  #contents {
	table {
	  tr {
		td {
		  background: $color-secondary;

		  &:empty {
			background: transparent !important;
		  }
		}

		&:nth-child(odd) {
		  td {
			background-color: $color-secondary-alt;
		  }
		}
	  }
	}
  }
}