#page_alliance_attacks {
  .maintext {
    > table {
      > thead,
      > tbody {
        > tr {
          background-color: $color-secondary;

          &:nth-child(4n+1) {
            background-color: $color-secondary-alt;
          }

          &:first-child th {
            font-weight: bold;
			background: $color-bg-th;
            color: $color-text;
            font-size: .75rem;
            padding: .5rem .25rem;

            &.right {
              padding-right: .25rem;
            }
          }

          th {

          }

          > td {
            > table {
              border-spacing: 0;
              margin: 0;
              padding-left: 2rem;

              > tbody {
                > tr {
                  > th {
                    font-size: .75rem;
                    padding: .25rem;
                  }

                  > th,
                  > td {
                    padding: .25rem 0;

                    &:nth-child(1),
                    &:nth-child(2) {
                      text-align: center;
                    }

                    &.center {
                      text-align: left;
                      padding-left: 1rem;
                    }
                  }


                  ul {
                    &.alliance_attack_claims_list {
                      li {
                        font-style: italic;
                        font-size: .75rem;

                        a {
                          margin: 0;
                          font-style: normal;
                        }

                        table {
                          font-style: normal;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


#attack_claim_form,
.alliance_attack_claims_status {
  width: auto !important;
  max-width: 300px;
  border: 1px solid rgba($color-primary, .5);
  background: $color-secondary;

  table {
    margin-bottom: 0;
  }
}

#attack_claim_form {
  table {
    td:nth-child(2) {
      padding-left: .25rem !important;
    }

    input {
      &:not([type="checkbox"]) {
        width: 100%;
        margin: 0;
      }

      &[type="checkbox"] {
        margin-left: 0;
      }
    }
  }

  .right,
  .left {
    padding: 0;
  }
}