#page_alliance_scans {
  .tabs {
	table {
	  tr {
		td {
		  background: $color-secondary;
		  transition: all .3s ease-in-out;
		}

		&:nth-child(even) {
		  td {
			background: $color-secondary-alt;
		  }
		}

		&:hover {
		  td {
			background-color: rgba(#fff, .06);
		  }
		}
	  }
	}
  }
}
