#page_alliance_defence {
  .maintext {
	.ally_def_eta_wrapper {
	  .ally_def_eta {
		font-size: 28px;

		img.ally_def_eta_toggle_img {
		  width: .6875rem;
		  height: .6875rem;
		}
	  }

	  .ally_def_incs_wrapper {
		background: $color-secondary;
		border: 1px solid rgba($color-primary, .18);
		box-shadow: inset 0 0 8px 2px rgba(black, .25), 0 2px 10px 2px rgba(black, .15);
		margin: 0 0 28px 5px;

		.ally_def_target {
		  font-size: 14px;
		  padding: 3.5px 0;
		  background: rgba(black, .2);
		  border-bottom: 1px solid rgba(black, .5);

		  > div {
			display: flex;
			align-items: center
		  }

		  .ally_def_target_toggle_link {
			width: 14px;
			margin: 0 .125rem 0 -1.25rem;
			cursor: pointer;

			img {
			  width: 14px;
			  height: 14px;
			}
		  }

		  .ally_def_target_coords {
			font-size: $text-default;
			padding-right: 7px;
			justify-content: flex-end;
			width: 55px;
		  }

		  .ally_def_target_mdata {
			flex: 7;

			> span {
			  flex: 1;
			  min-width: 40px;
			}

			.ally_def_target_mdata_nick {
			  font-size: 14px;
			  overflow: hidden;
			  min-width: 125px;

			  a {
				color: $color-offwhite;

				&:hover {
				  color: rgba($color-offwhite, .7);
				}
			  }
			}

			.ally_def_target_mdata_roids {
			  position: relative;
			  display: flex;
			  align-items: center;

			  &:before {
				font-size: .6875rem;
				content: 'Asteroids:';
				margin: 0 5px 0 0;
			  }
			}

			.ally_def_target_mdata_base {
			  flex: unset;
			  width: 138px;
			  padding-right: 12px;
			  display: flex;
			  align-items: center;

			  &:before {
				font-size: .6875rem;
				white-space: nowrap;
				content: 'Base fleet:';
				margin: 0 5px 0 0;
			  }
			}
		  }

		  .ally_def_target_links {
			flex: 3;
			display: flex;
			align-items: center;
			margin: 0;

			span[id^='note_tag'] {
			  margin-left: 7px;
			  order: 2;
			}

			a {
			  order: 1;
			  font-size: 0;

			  &:after {
				color: $color-primary !important;
				font-family: inherit;
				font-size: $text-small;
				font-weight: bold;
				text-transform: initial;
				line-height: 1;
				white-space: nowrap;
				padding: 3.5px 0;
				content: 'Battle Calc';
				background: rgba($color-secondary, .4) !important;
				border: 1px solid rgba($color-primary, .5) !important;
				border-radius: 3px;
				box-shadow: inset 0 2px 4px 2px rgba(#000, .4);
				cursor: pointer;
				transition-timing-function: linear;
				transition-duration: .75s;
				transition-property: color, background, box-shadow;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 90px;

				&::-moz-focus-inner {
				  padding: 0;
				  border: 0;
				}
			  }

			  &:hover {
				&:after {
				  color: black !important;
				  text-decoration: none !important;
				  background: $color-primary !important;
				  box-shadow: none;
				}
			  }
			}

			+ div > a.calcz {
			  color: #32ab52 !important;
			  font-family: inherit;
			  font-size: $text-small;
			  font-weight: bold;
			  text-transform: initial;
			  line-height: 1;
			  white-space: nowrap;
			  padding: 3.5px 7px;
			  display: inline-block;
			  background: rgba($color-secondary, .4) !important;
			  border: 1px solid rgba(#32ab52, .5) !important;
			  border-radius: 3px;
			  box-shadow: inset 0 2px 4px 2px rgba(#000, .4);
			  cursor: pointer;
			  transition-timing-function: linear;
			  transition-duration: .75s;
			  transition-property: color, background, box-shadow;
			}
		  }

		  .button-calcz {
			color: $color-primary !important;
			font-family: inherit;
			font-size: $text-small;
			font-weight: bold;
			text-transform: initial;
			line-height: 1;
			white-space: nowrap;
			padding: 3.5px 7px;
			display: inline-block;
			background: rgba($color-secondary, .4) !important;
			border: 1px solid rgba($color-primary, .5) !important;
			border-radius: 3px;
			box-shadow: inset 0 2px 4px 2px rgba(#000, .4);
			cursor: pointer;
			transition-timing-function: linear;
			transition-duration: .75s;
			transition-property: color, background, box-shadow;

			&:hover {
			  color: black !important;
			  text-decoration: none !important;
			  background: $color-primary !important;
			  box-shadow: none;
			}
		  }

		  .ally_def_target_summary {
			padding-right: 4px;
			flex: 3;

			span {
			  background: transparent !important;
			}
		  }
		}

		.ally_def_attackers {
		  font-size: $text-default;

		  > div {
			background: $color-secondary;

			&:nth-child(even) {
			  background: $color-secondary-alt;
			}

			> div {
			  display: flex;
			  align-items: center
			}

			.ally_def_attacker_coords {
			  padding-right: 7px;
			  justify-content: flex-end;
			  width: 54px;
			  position: relative;
			  order: 1;

			  .ally_def_attacker_not_calc {
				font-size: 0;
				position: absolute;
				left: 4px;
				order: 1;
				transform: translateY(2px);

				&:before {
				  font-size: $text-small;
				  content: '*';
				}
			  }
			}

			.ally_def_attacker_fleetname {
			  font-size: $text-default !important;
			  text-overflow: ellipsis;
			  display: flex;
			  align-items: center;
			  overflow: hidden;
			  width: 218px;
			  max-width: 218px !important;
			  margin-right: 4px;
			  order: 2;
			}

			.ally_def_attacker_race {
			  min-width: 30px;
			  order: 3;
			}

			.ally_def_attacker_shipcount {
			  text-align: right;
			  justify-content: flex-end;
			  width: 70px;
			  max-width: 70px;
			  order: 5;
			}

			.ally_def_attacker_links {
			  text-align: right;
			  padding: 0 10px;
			  justify-content: flex-end;
			  min-width: 139px;
			  order: 6;

			  a {
				color: black !important;
				font-size: 14px;
				line-height: 14px;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				border-radius: 4px;
				margin: 0 1px;

				&:last-child {
				  margin-right: 0;
				}

				&.scan_age_new {
				  //border: 1px solid rgba($color-positive, .7);
				  color: rgba($color-positive, 1) !important;
				}

				&.scan_age_older {
				  //border: 1px solid rgba($color-neutral, .7);
				  color: rgba($color-neutral, 1) !important;
				}

				&.scan_age_old {
				  //border: 1px solid rgba(255, 255, 0, .7);
				  color: rgba(255, 255, 0, 1) !important;
				}

				&.scan_age_ancient {
				  //border: 1px solid rgba($color-negative, .5);
				  color: rgba($color-negative, 1) !important;
				}
			  }
			}

			.ally_def_attacker_call_status {
			  order: 7;

			  form {
				select {
				  font-size: 12px;
				  height: 18px;
				  width: 92px;
				}
			  }
			}

			.ally_def_attacker_orig_eta {
			  display: flex;
			  align-items: center;
			  justify-content: space-between;
			  width: 64px;
			  order: 4;

			  &:before {
				font-size: $text-small;
				line-height: 0.9rem;
				padding-right: 4px;
				content: 'Reported:';
			  }
			}

			.ally_def_attacker_classes {
			  color: transparent;
			  text-transform: uppercase;
			  flex: 2;
			  order: 8;

			  a {
				padding-right: 3px;

				&:last-child {
				  padding-right: 0;
				}
			  }

			  .btn-default {
				color: $color-primary !important;
				font-size: $text-default !important;
				background-color: transparent !important;
				border-color: transparent !important;
			  }
			}

			.ally_def_attacker_intel {
			  color: $color-offwhite;
			  padding-right: 10px;
			  order: 9;

			  span {
				width: 50px;
				display: flex;
				justify-content: flex-end;

				&:nth-child(1) {
				  margin-left: 15px;
				  width: 44px;
				}
			  }
			}
		  }
		}

		.ally_def_details,
		.ally_def_attackers {
		  .alliance_def_valid {
			border: 1px solid rgba($color-positive, .5) !important;
			box-shadow: inset 0 0 7px 1px rgba($color-positive, .25);
		  }

		  .ally_def_details_classes {
			.alliance_def_valid {
			  border: none !important;
			  box-shadow: none !important;

			  input[type='checkbox'] {
				&:before {
				  color: rgb(50, 205, 50);
				}
			  }
			}
		  }
		}

		.ally_def_details {
		  .ally_def_details_fleet {
			font-size: $text-small;
			text-transform: uppercase;
			text-align: right;
			padding-left: 4px;
			display: flex;
			align-items: center;

			.ally_def_details_fleetname {
			  font-style: italic;
			  text-overflow: ellipsis;
			  flex-grow: 100;
			  overflow: hidden;

			  &:after {
				padding-left: 5px;
				content: '-';
			  }
			}

			.ally_def_details_classes {
			  letter-spacing: 1px;
			  display: flex;
			  align-items: center;
			  justify-content: flex-end;

			  form {
				display: flex;
				align-items: center;

				label {
				  width: 20px;
				  text-align: left;
				  line-height: 20px;
				}
			  }
			}
		  }

		  .ally_def_details_bcalc {
			form {
			  font-size: 0;
			  text-transform: uppercase;
			  display: flex;
			  align-items: center;
			  justify-content: flex-end;
			  margin-left: 4px;

			  &:before {
				font-size: $text-small;
				letter-spacing: 1px;
				padding-right: 4px;
				content: 'BATTLE CALC:';
				display: inline;
				position: relative;
			  }

			  input[type='text'] {
				width: 242px;
			  }
			}
		  }

		  .ally_def_details_notes {
			margin-top: 2px;

			form {
			  display: flex;
			  align-items: flex-end;
			  justify-content: flex-end;

			  textarea {
				padding: 7px 10.5px;
				width: 100%;
				margin: 0 0 4px 4px;
			  }

			  input[type='button'] {
				min-width: 110px;
				margin: 2px 4px 4px;
			  }
			}
		  }

		  input[type='button'] {
			width: 110px;
			margin: 2px 4px;
		  }
		}

		.ally_def_target_coords,
		.ally_def_attacker_coords,
		.ally_def_defender_coords {
		  padding: 0 4px;
		  width: auto;
		}

		.ally_def_target,
		.ally_def_attacker,
		.ally_def_defender,
		.ally_def_attacker_intel,
		.ally_def_fleetcatch_fleet {
		  display: flex;
		  align-items: center;
		}

		.mission_attack {
		  background-color: unset;
		}

		.relations_war {
		  background-color: rgba($color-negative, .15);
		}

		.mission_return {
		  opacity: .7;
		  background: unset;
		}

		.ally_def_attackers,
		.ally_def_fleetcatch,
		.ally_def_defenders {
		  > div {
			padding: 3px 0;
		  }
		}

		.ally_def_fleetcatch {
		  font-size: 0.9rem;

		  .ally_def_fleetcatch_fleet {
			.ally_def_fleetcatch_fleet_name {
			  font-size: $text-default !important;
			  width: 317px;
			  margin-left: 54px;
			}

			.ally_def_fleetcatch_fleet_shipcount {
			  text-align: right;
			  width: 70px;
			}
		  }
		}

		.ally_def_defenders {
		  font-size: $text-default;

		  .ally_def_defender {
			&.mission_defend {
			  background: rgba($color-positive, .14);

			  &:nth-child(even) {
				background: rgba($color-positive, .09);
			  }
			}

			.ally_def_defender_coords {
			  display: flex;
			  align-items: center;
			  width: 54px;
			  position: relative;
			  order: 1;

			  a {
				position: absolute;
				right: 8px;
			  }

			  .ally_def_defender_not_calc {
				font-size: 0;
				position: absolute;
				left: 4px;
				order: 1;

				&:before {
				  font-size: $text-small;
				  content: '*';
				}
			  }
			}

			.ally_def_defender_fleetname {
			  font-size: $text-default !important;
			  text-overflow: ellipsis;
			  overflow: hidden;
			  width: 218px;
			  max-width: 218px !important;
			  margin-right: 4px;
			  order: 2;
			}

			.ally_def_defender_race {
			  width: 30px;
			  order: 3;
			}

			.ally_def_defender_shipcount {
			  text-align: right;
			  width: 70px;
			  max-width: 70px;
			  order: 5;
			}

			.ally_def_defender_orig_eta {
			  text-align: right;
			  display: flex;
			  align-items: center;
			  justify-content: space-between;
			  width: 64px;
			  order: 4;

			  &:before {
				font-size: $text-small;
				padding-right: 4px;
				content: 'Sent:';
			  }
			}

			select[id^='recall'] {
			  font-size: 12px;
			  height: 18px;
			  margin-left: 110px !important;
			  order: 5;
			}

			input[id^='recall'] {
			  font-size: 12px;
			  height: 18px;
			  margin: 3.5px !important;
			  order: 6;
			}

			.ally_def_defender_mdata {
			  order: 7;
			  padding-right: 10px;

			  .ally_def_defender_mdata_nick {
				white-space: nowrap;
				text-overflow: ellipsis;
				display: flex;
				justify-content: flex-end;
				overflow: hidden;
				width: 100px;
			  }

			  .ally_def_defender_mdata_ap,
			  .ally_def_defender_mdata_dp {
				display: flex;
				justify-content: flex-end;
			  }

			  .ally_def_defender_mdata_ap {
				margin-left: 15px;
				width: 50px;
			  }

			  .ally_def_defender_mdata_dp {
				width: 54px;
			  }
			}
		  }
		}
	  }
	}
  }

  #dships_box {
	width: 250px !important;

	table {
	  tr {
		td {
		  background: $color-secondary;
		}

		&:nth-child(even) {
		  td {
			background: $color-secondary-alt;
		  }
		}
	  }
	}
  }

  p#dbcalc {
	a {
	  margin: 0 !important;
	}

	.bcalc_target {
	  line-height: 0;
	  display: flex;

	  a {
		line-height: 1.4;
		margin-top: 7px !important;
	  }
	}
  }
}