#page_ship_overview {
  #full_page {
	max-width: 800px;

	table {
	  tr {
		&:nth-child(1) th {
		  color: $color-offwhite;
		  font-size: 1.2rem;
		  font-weight: bold;
		  text-transform: uppercase;
		  padding: 7px 0;
		  background: $color-secondary;
		  background: linear-gradient(180deg, $color-secondary 0%, $color-secondary 15%, $color-secondary 100%) !important;
		  border: 1px solid transparent;
		  //border: 1px solid rgba($color-primary, .5);
		  border-image: linear-gradient(to right, transparent 0%, rgba(82, 165, 248, .5) 50%, transparent 100%);
		  border-image-slice: 1;
		  margin: 14px 0;
		}

		&:nth-child(2) th {
		  color: $color-text;
		  font-size: $text-small;
		  font-weight: bold;
		  padding: 7px .125rem;

		  &.right {
			padding-right: 3.5px;
		  }
		}

		td {
		  background: $color-secondary;

		  &[style='width: 22%;'],
		  &[colspan='3'] {
			background: transparent !important;
		  }
		}

		&:nth-child(odd) {
		  td {
			background-color: $color-secondary-alt;
		  }
		}
	  }
	}
  }
}