html, body, .pages {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

body, p, td {
  font-size: 9pt;
}

#page {
  min-height: 90%;
  min-height: calc(100% - 153px);
}

#full_page {
  width: 1072px;
  margin: 0 auto;
}

table, th {
  color: #ccc;
  padding: 0px;
  margin: 0px;
}

table {
  margin-bottom: 1px;
}

form {
  padding: 0px;
  margin: 0px;
}

th {
  font-weight: bold;
}

th, td {
  vertical-align: top;
}

.vtop {
  vertical-align: top;
}

.nowrap {
  white-space: nowrap;
}

p {
  padding: 0 0 7px 0;
  margin: 0px;
}

#top {
  padding-top: 10px;
  width: 1070px;
  margin: 0 auto;
}

.tnav_link {
  display: inline-block;
}

.tnav_link a {
  text-align: center;
  display: block;
  width: 100px;
  height: 11px;
  margin: 3px 20px 0 20px;
}

#page_bcalc #top {
  display: none;
}

#page_bcalc #contents_header, #page_bcalc #contents_footer, #page_bcalc .container {
  background: none;
}

#bar_forums span, #bar_manual span, #bar_logout span, #bar_support span, #bar_portal span {
  display: none;
}

input, .input, textarea, select, .checkbox {
  color: #CCCCCC;
  font-size: 8pt;
  background: #2e5b82;
  border: 1px solid #cfcfcf;
}

#page input[type='submit'], #page input[type='button'] {
  color: #303135;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2px 10px;
  background: rgb(209, 210, 214);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: inset 0 -8px 10px rgba(0, 0, 0, 0.35), 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 -8px 10px rgba(0, 0, 0, 0.35), 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 -8px 10px rgba(0, 0, 0, 0.35), 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

input[type=number] {
  text-align: right;
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input_coords {
  width: 2em;
}

input.disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

input.disabled:hover {
  border: 1px solid #cfcfcf !important;
}

#page input[type='submit']:hover, #page input[type='button']:hover {
  border: 1px solid #000000;
  cursor: pointer;
}

option {
  background: #213d58;
}

textarea {
  width: 98%;
}

a {
  color: #fff;
}

a:hover {
  color: #ccc;
  text-decoration: none;
}

.caps {
  text-transform: uppercase;
  text-align: center;
}

.left {
  text-align: left;
  padding-left: 5px;
}

.right {
  text-align: right;
  padding-right: 5px;
}

.center {
  text-align: center;
}

#motd span {
  color: #ffffff !important;
}

.waiting {
  color: #CC3333;
}

.inprogress {
  color: #FFFF66;
}

.error {
  color: #FF0000;
  font-weight: bold;
}

.gc {
  color: #0000FF;
}

.moc {
  color: #8081FF;
}

.mod {
  color: #00FF00;
}

.mow {
  color: #FF0000;
}

.small {
  font-size: 9px;
}

.superhighlight {
  color: white;
  font-weight: bold;
}

.shadedbackground {
  background: none;
}

.shadedbackground2 {
  background: none;
}

/*	Font stuff	*/
.incs_hostile, .exile_vote {
  color: #ff2b2b;
  font-weight: bold;
}

.incs_friendly {
  color: #00AA00;
}

.mission_none {
  color: #FFFFFF;
}

.mission_attack {
  color: #FF0000;
}

.mission_defend {
  color: #00AA00;
}

.mission_fake_attack {
  color: #FFA500;
}

.mission_fake_defend {
  color: #0000FF;
}

.mission_return {
  color: #777777;
}

.bashlimit {
  color: #ff8c00;
}

.fund_transfer {
  color: #FFA500;
}

.notice_protection {
  color: #ccc;
}

.notice_allies {
  color: #0082ff;
}

li.li_gen {
  list-style: disc;
  margin-left: 15px;
}

li.li_gen:last-child {
  padding-bottom: 7px;
}

.msg_title {
  color: #FFFFFF;
  font: 150% bold;
}

.msg_subtitle {
  font: 120% bold;
}

.bad {
  color: #ff2b2b;
}

.good {
  color: #00AA00;
}

/*	Menu	*/
ul, li {
  padding: 0;
  list-style: none;
  margin: 0;
}

#menu {
  width: 161px;
  float: left;
}

#menu li ul {
  height: 1%;
}

#menu li {
  padding-left: 15px;
}

.menu_grp li {
  text-align: left;
  text-decoration: none;
  padding: 4px 0 0 15px;
  display: block;
  width: 131px !important;
  margin: 0;
}

#menu a {
  color: #FFFFFF;
  text-decoration: none;
}

#menu a:hover {
  color: #5292da;
}

#menu_time {
  line-height: 17px;
  height: 34px;
}

#time_loaded {
  display: block;
  width: 161px;
}

#menu_view_link, #menu_time {
  text-align: center;
  padding-left: 0 !important;
}

#menu_view_link {
  margin-bottom: 10px;
}

#contents {
  margin: 0 162px;
}

.section_information {
  display: inline;
}

#mining td .metal, #galaxy_fund .metal, #alliance_fund .metal, #alliance_fund_trade .metal, #alliance_fund_donate .metal {
  display: block;
  background: url('/images/template53/metal_48.png') no-repeat;
  width: 48px;
  height: 46px;
}

#mining td .crystal, #galaxy_fund .crystal, #alliance_fund .crystal, #alliance_fund_trade .crystal, #alliance_fund_donate .crystal {
  display: block;
  background: url('/images/template53/crystal_48.png') no-repeat;
  width: 48px;
  height: 43px;
}

#mining td .eonium, #galaxy_fund .eonium, #alliance_fund .eonium, #alliance_fund_trade .eonium, #alliance_fund_donate .eonium {
  display: block;
  background: url('/images/template53/eonium_48.png') no-repeat;
  width: 48px;
  height: 41px;
}

#mining td .textlabel, #galaxy_fund .textlabel, #alliance_fund .textlabel, #alliance_fund_trade .textlabel, #alliance_fund_donate .textlabel {
  display: none;
}

#galaxy_fund .center .metal, #galaxy_fund .center .crystal, #galaxy_fund .center .eonium,
#alliance_fund_trade .center .metal, #alliance_fund_trade .center .crystal, #alliance_fund_trade .center .eonium,
#alliance_fund_donate .center .metal, #alliance_fund_donate .center .crystal, #alliance_fund_donate .center .eonium {
  margin: 0 auto;
}

.constructions, .research, .scans, .training, .governments {
  display: table;
  width: 100%;
  border-bottom: 1px dotted;
  margin-bottom: 10px;
}

.construction_info p, .research p, .scans p {
  font-size: 8pt;
}

.construction_info, .construction_built, .construction_build {
  float: left;
}

.construction_info {
  width: 300px;
}

.construction_built {
  text-align: center;
  width: 225px;
}

.construction_build {
  text-align: center;
  width: 175px;
}

.construction_info .title, .research .title, .research_branch .title, .branch_name h3, .scans .title, .training_info .title, .governments .title {
  font-size: 14px;
  font-weight: bold;
}

.construction_info .time, .research .time, .research .rp, .scan_coords, .scan_fund {
  display: block;
}

#mining .resources li, .construction_info .resources li, .production_orders .resources li, #ship_cost .resources li,
#production_form .resources li, .scans .resources li, .training_info .resources li,
#unit_cost .resources li, #wage_bill .resources li, #alliance_fund_tax .resources li, #est_scan_cost .resources li {
  display: inline;
}

.construction_build .resources li {
  margin: 0 auto;
}

.construction_build .resources {
  margin-bottom: 10px;
}

.research_current, .research_next {
  width: 50%;
  float: left;
}

.research_branch_list {
  border-bottom: 1px dotted;
  margin-bottom: 10px;
}

.research_branch .completed .title {
  display: block;
  background: url('/images/template53/tick.gif') no-repeat right;
  width: 100%;
}

#production_form table .resources li .textvalue, .training_info .resources li .textvalue {
  display: inline-block;
  width: 30px;
}

#production_factories_row .textlabel {
  display: block;
}

#mining p, #mining .resources, .production_orders p, .production_orders .resources, #security_training_form p,
#unit_cost .resources, #security_redundancy_form p, #security_redundancy_form .resources, #alliance_fund_tax .resources {
  text-align: center;
}

#ship_cost, .scan_action {
  text-align: center;
}

.scan_info, .training_info {
  width: 70%;
  float: left;
}

.scan_action, .training_amounts {
  width: 30%;
  float: left;
}

.scan_multi {
  text-align: right;
  display: block;
  height: 14px;
}

.scan_form {
  padding-bottom: 10px;
}

#scan_multi_form {
  text-align: center;
  padding: 10px 0;
}

.training_info .resources li.textlabel {
  display: inline-block;
  width: 80px;
}

.training_info p {
  text-align: left !important;
}

.training_amounts {
  padding-top: 14px;
}

.training_amounts .current_amount, .training_amounts .new_amount {
  display: block;
}

#government .government_effects {
  text-align: center;
}

.governments .government_effects {
  text-align: left;
  display: table;
  margin-bottom: 10px;
}

.governments .government_effects .textlabel, .governments .government_effects .textvalue {
  text-align: left;
  display: block;
  width: 100px;
  float: left;
}

.governments .government_effects .textlabel {
  clear: left;
}

.resources .textvalue {
  padding-left: 18px;
  margin-left: 3px;
}

.resources span.textlabel {
  display: none;
}

.resources .metal .textvalue {
  background: url('/images/template53/metal_16.png') no-repeat;
  width: 16px;
  height: 15px;
}

.resources .crystal .textvalue {
  background: url('/images/template53/crystal_16.png') no-repeat;
  width: 16px;
  height: 14px;
}

.resources .eonium .textvalue {
  background: url('/images/template53/eonium_16.png') no-repeat;
  width: 16px;
  height: 13px;
}

.pagination_stats {
  text-align: right;
}

.pagination_links {
  text-align: center;
}

.pagination_links li {
  display: inline;
  margin: 0 2px;
}

.pagination_links a {
  padding: 2px;
}

.change_up {
  padding-left: 15px;
  background: url('/images/template53/up.png') no-repeat 1px;
}

.change_down {
  padding-left: 15px;
  background: url('/images/template53/down.png') no-repeat 1px;
}

#important_messages {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2000;
}

#important_messages_overlay {
  -moz-opacity: 0.6;
  opacity: 0.6;
  background: #000000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  filter: alpha(opacity=60);
}

#important_messages_contents {
  width: 750px;
  margin-left: -375px;
  position: absolute;
  top: 140px;
  left: 50%;
  z-index: 2100;
}

#important_messages_contents .close_link {
  margin-right: 15px;
}

.important_message .title {
  font-size: 14px;
  font-weight: bold;
}

.important_message .time {
  display: block;
}

.questionmark {
  font-size: 14px;
  font-weight: bold;
  padding: 0 5px;
}

a.questionmark {
  text-decoration: none;
}

.info {
  text-align: left;
  max-width: 400px;
}

.info_header {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 5px 0;
}

#full_page #contents, #full_page #contents_header, #full_page #contents_footer, #full_page #tab_links {
  margin: 0 auto;
  float: none;
}

#full_page #contents_footer {
  margin-bottom: 25px;
}

.page_title {
  display: none;
}

/*	Resource header	*/
#header_metal {
  padding-top: 29px;
}

#header .textlabel {
  margin-left: 5px;
  float: left;
}

#header .textvalue {
  padding-right: 15px;
  float: right;
}

#header_tick {
  padding-top: 10px;
}

#header #news_new, #header #mail_new {
  color: #FF0000;
  font-weight: bold;
}

#planet_summary {
  width: 161px;
  float: right;
  clear: right;
}

#planet_summary_construction .textlabel, #planet_summary_research .textlabel {
  display: block;
}

#planet_summary_construction {
  padding-top: 29px;
}

#planet_summary_production {
  padding-bottom: 20px;
}

#planet_summary .countdown, #planet_summary_construction_current, #planet_summary_research_current, #planet_summary_production_current, #planet_summary_construction_complete, #planet_summary_research_complete {
  text-align: right;
  padding-right: 15px;
  display: block;
}

.planet_summary_production_orders {
  margin-bottom: 10px;
}

#quest_system .completed {
  display: block;
  background: url('/images/template53/tick.gif') no-repeat;
  width: 15px;
  height: 13px;
  margin: 0 auto;
}

.expand {
  padding: 0 2px;
  display: block;
  background: url('/images/template53/expand.gif') no-repeat;
  width: 13px;
  height: 12px;
  float: left;
  cursor: pointer;
}

.tooltip, .info {
  color: #ffffff !important;
  font-size: 9pt !important;
  font-weight: normal !important;
  text-transform: none !important;
  line-height: normal !important;
  text-align: left !important;
  padding: 5px;
  display: none;
  background: #213d58;
  border: 1px solid #FFFFFF;
  position: absolute;
  z-index: 1001;
}

.tooltip {
  white-space: pre;
}

.close_link {
  font-size: 9pt !important;
  text-decoration: none;
  float: right;
}

.progress_wrapper {
  background: #575757;
  height: 18px;
  margin: 0 auto;
}

.progress_bar {
  background: url('/images/template53/progress_bar.jpg');
  height: 18px;
}

.progress_expected {
  -moz-opacity: 0.50;
  opacity: .50;
  background: url('/images/template53/progress_bar.jpg');
  height: 18px;
  margin-top: -18px;
  filter: Alpha(opacity=50);
}

.progress_value {
  text-align: center;
  height: 18px;
  margin-top: -18px;
}

/*	Table	*/
#full_page .container {
  margin: 0 auto;
}

.header, h2 {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 5px 0;
  margin: 0px;
}

.maintext {
  text-align: left;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.maintext table {
  width: 100%;
  margin: 0 auto;
}

.show_hide {
  font-size: 8pt;
}

#galaxy_banner .maintext {
  text-align: center;
}

.slider_track {
  font-size: 0px;
  line-height: 0px;
  padding: 4px;
  width: 120px;
  margin: 0;
  float: left;
}

.slider_slider {
  line-height: 0px;
  background: #DDDDDD;
  width: 110px;
  height: 2px;
  margin: 4px 4px 2px 4px;
  position: absolute;
  z-index: 1;
}

.population_slider {
  line-height: 0px;
  background: #b3b5b6;
  width: 10px;
  height: 10px;
  border: 1px solid #DDDDDD;
  margin: 0;
  position: relative;
  z-index: 1;
}

.display_holder {
  text-align: right;
  padding: 0;
  width: 34px;
  height: 20px;
  margin: 0;
  float: right;
}

.population_display {
  color: #b3b5b6;
  font: 11px;
  text-align: right;
  padding: 3px 2px 0 0;
  width: 30px;
  border: 0;
  cursor: default;
}

.forum {
  padding-bottom: 16px;
  display: table;
  width: 100%;
}

div.forum_title {
  text-align: center;
  height: 33px;
}

a.forum_title {
  line-height: 16px;
  width: 100%;
  height: 16px;
}

.forum_description {
  color: #FFFFFF;
  font-size: 8px;
  display: block;
  width: 100%;
}

.forum_thread_title {
  text-align: left;
  padding-left: 5px;
  overflow: visible;
  width: 300px;
  float: left;
}

.forum_thread_lastpost {
  text-align: right;
  padding-right: 5px;
  overflow: visible;
  width: 160px;
  float: left;
}

.forum_thread_replies {
  text-align: center;
  width: 60px;
  float: left;
}

.forum_thread_views {
  display: none;
}

.forum_thread_header_title {
  font-weight: bold;
  text-align: center;
  width: 305px;
  float: left;
}

.forum_thread_header_lastpost {
  font-weight: bold;
  text-align: center;
  width: 165px;
  float: left;
}

.forum_thread_header_replies {
  font-weight: bold;
  text-align: center;
  width: 60px;
  float: left;
}

.forum_thread_header_views {
  display: none;
}

.forum_thread_actions {
  background: #213d58;
  width: 150px;
  border: solid 1px #FFFFFF;
  position: absolute;
  z-index: 2;
}

.forum_thread_actions span {
  float: left;
  clear: both;
}

.forum_thread_actions_button {
  text-indent: -1000px;
  background: url('/images/template53/down_arrow.jpg') no-repeat;
  width: 17px;
  height: 15px;
}

.forum_thread_title * {
  padding-right: 2px;
  float: left;
}

#forum_nav {
  padding-bottom: 5px;
  height: 20px;
}

.forum_post {
  display: table;
  width: 100%;
}

.forum_post_time {
  text-align: right;
  width: 300px;
  float: right;
}

.forum_post_number {
  text-align: left;
  width: 30px;
  float: left;
}

.forum_poster {
  text-align: left;
  width: 120px;
  margin-bottom: 10px;
  float: left;
  clear: left;
}

.forum_post_title {
  font-weight: bold;
  text-align: center;
  width: 400px;
  margin-bottom: 10px;
  float: left;
}

.forum_post_text {
  text-align: left;
  width: 100%;
  margin-bottom: 10px;
  float: left;
}

.forum_post_notes {
  font-size: 80%;
  font-style: italic;
  width: 100%;
  float: left;
}

.forum_post_actions {
  width: 100%;
  float: left;
}

.forum_post_seperator {
  border: 1px solid #FFFFFF;
  margin: 10px 0;
}

.forum_post_delete, .forum_post_edit, .forum_post_report {
  margin-left: 15px;
  float: left;
}

.forum_post_quote, .forum_post_reply {
  margin-right: 15px;
  float: right;
}

#forum_poll {
  display: table;
  width: 300px;
  border: 1px solid #FFFFFF;
  margin: 17px auto;
}

.forum_poll_question
#forum_poll_options {
  clear: both;
}

#forum_poll_vote {
  width: 100%;
  clear: both;
}

.forum_poll_option {
  width: 100%;
  clear: right;
}

.forum_poll_option_name {
  width: 50%;
  float: left;
  clear: left;
}

.forum_poll_option_select {
  width: 50%;
  float: right;
}

.forum_poll_votes {
  font-size: 70%;
  width: 100%;
  height: 20px;
}

.forum_poll_votes div {
  background: #5292da;
  height: 5px;
  float: left;
}

.forum_poll_votes_right {
  float: left;
  clear: right;
}

.quote, blockquote {
  padding: 5px;
  width: 90%;
  border: dashed #FFFFFF 1px;
  margin: 10px auto;
}

.code_body {
}

#d_stats {
  background: #213d58 !important;
  border: 1px solid #FFFFFF;
}

.mceEditorContainer td {
  color: #000000;
  text-align: left;
}

.ter {
  color: #BBBBBB;
}

.cat {
  color: #00CCFF;
}

.xan {
  color: #00A000;
}

.zik {
  color: #DD0000;
}

.etd {
  color: #FFFFFF;
}

.kin {
  color: #C685FF;
}

.sly {
  color: #CA0065;
}

#ad_vert {
  margin-top: 33px;
  margin-left: 10px;
  float: left;
}

#ad_horz {
  text-align: center;
}

.mail_unread th {
  color: #5292da;
}

.mail_read {
}

#view_news .new {
  background: rgba(27, 55, 71, 0.8);
}

.relations_neutral {
}

.relations_friendly {
  background: rgba(00, 40, 00, 0.2);
  outline: #004000 1px solid;
}

.relations_allied {
  background: rgba(00, 90, 00, 0.2);
  outline: #009000 1px solid;
}

.relations_hostile {
  background: rgba(50, 00, 00, 0.2);
  outline: #500000 1px solid;
}

.relations_war {
  background: rgba(90, 00, 00, 0.2);
  outline: #900000 1px solid;
}

.relations_nap {
  background: rgba(80, 80, 00, 0.4);
  outline: #808000 1px solid;
}

.relations_own_member {
  background: rgba(0, 130, 255, 0.2);
  outline: #0082ff 1px solid;
}

.relations_own_recruit {
  background: rgba(213, 117, 0, 0.3);
  outline: #d57500 1px solid;
}

.relations_own_applicant {
  background: rgba(255, 140, 0, 0.2);
}

.intel {
  font-weight: bold;
}

/* bcalc */
#calc #tnav, #calc #contents_header, #calc #contents_footer {
  display: none !important;
}

#calc #full_page {
  background: none;
}

#bcalc {
  width: 970px;
  margin: 10px auto;
}

#bcalc input, #bcalc select, #edit_comment_box input, #add_other input, #fleet_select_box select, #add_other select {
  background: transparent;
  background-color: rgba(0, 0, 0, 0);
}

#bcalc option, #fleet_select_box option, #add_other option {
  background: #000000;
}

#def, #att, #def_reports, #att_reports, #def_value, #att_score {
  width: 50%;
}

.def_controls, .global_controls, .att_controls {
  text-align: center;
  width: 33%;
  height: 25px;
}

.def_controls *, .global_controls *, .att_controls * {
  vertical-align: middle;
}

#scans_area {
  background: transparent;
  width: 200px;
  height: 20px;
}

#edit_comment {
  width: 98%;
}

#def_side, #att_side {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 5px 0 0 0;
  height: 23px;
  margin: 0px;
}

#def_reports table, #att_reports table {
  margin-bottom: 20px;
}

#controls, #def_table, #att_table, .def_report_fleet, .def_report_salvage, .def_report_stolen, .att_report_fleet, .att_report_roids, .att_report_resources, .att_report_stolen, #def_value_table, #att_score_table {
  width: 100%;
  border-spacing: 2px;
}

.def_report_fleet, .def_report_salvage, .def_report_stolen, .att_report_fleet, .att_report_roids, .att_report_resources, .att_report_stolen {
  margin-bottom: 10px;
}

.def_name, #def_header_ship, .att_name, #att_header_ship {
  font-weight: bold;
  text-align: left;
  text-indent: 5px;
  width: 120px;
  min-width: 120px;
}

.def_name, .att_name {
  color: #FFFFFF;
}

.def_row, .att_row, .def_controls, .global_controls, .att_controls, #def_show, #att_show, .def_report_fleet *, .def_report_salvage *, .def_report_stolen *, .att_report_fleet *, .att_report_roids *, .att_report_resources *, .att_report_stolen *, #def_value_table *, #att_score_table * {
}

#def_show, #att_show {
  text-align: center;
  padding: 2px;
}

.def_name span:hover, .att_name span:hover {
  color: #5292da;
}

.def_fleet, .att_fleet, .def_fleet_gaps, .att_fleet_gaps, #def_header_st_ro_amount, #def_header_st_ro_lost {
  text-align: center;
  width: 63px;
}

.def_row input, .att_row input {
  text-align: right;
}

.def_header, .att_header, .def_report_header, .att_report_header {
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

.def_report_metal, .att_report_metal, .def_report_crystal, .att_report_crystal, .def_report_eonium, .att_report_eonium,
.def_report_name, .att_report_name, .def_report_arrived, .att_report_arrived, .def_report_lost, .att_report_lost, .def_value_name, .att_score_name {
  font-weight: normal;
  width: 33%;
}

.def_report_arrived, .att_report_arrived, .def_report_lost, .att_report_lost, .def_report_salvage * {
  text-align: center;
}

.def_report_name, .att_report_name, .def_value_name, .att_score_name {
  font-weight: normal;
  text-align: left;
  text-indent: 5px;
}

.def_report_gained, .att_report_gained {
  font-weight: normal;
  width: 67%;
}

#def_header_killed, .def_killed, #def_header_emped, .def_emped, #def_header_stolen, .def_stolen,
#att_header_killed, .att_killed, #att_header_emped, .att_emped, #att_header_stolen, .att_stolen, .def_total, .att_total {
  text-align: center;
  width: 80px;
  min-width: 80px;
}

.def_name, .att_name, .def_row, .att_row, .def_structures_lost, .def_metal_asteroids_lost, .def_crystal_asteroids_lost, .def_eonium_asteroids_lost {
  font-weight: normal;
}

.def_killed, .att_killed {
  color: #d50000;
  font-weight: normal;
}

.def_emped, .att_emped {
  color: #00FFFF;
  font-weight: normal;
}

.def_stolen, .att_stolen {
  color: #ed6a12;
  font-weight: normal;
}

.def_value_lost, .att_score_lost {
  color: #d50000;
  font-weight: normal;
  text-align: center;
}

.def_value_gained, .att_score_gained {
  color: #00aa01;
  font-weight: normal;
  text-align: center;
}

.def_fleet input[type=number], .def_fleet_st input[type=number], .def_fleet_ro input[type=number], .def_fleet_rs input[type=number], .def_planet input[type=number],
.att_fleet input[type=number], .att_planet input[type=number] {
  width: 5em;
}

.def_ter, .att_ter {
  background: #1b1b1b;
}

.def_cat, .att_cat {
  background: #000140;
}

.def_xan, .att_xan {
  background: #003500;
}

.def_zik, .att_zik {
  background: #350000;
}

.def_etd, .att_etd {
  background: #3C3C3C;
}

.def_kin, .att_kin {
  background: #220040;
}

.def_sly, .att_sly {
  background: #400020;
}

.ship_class {
  font-size: 9px;
}

.t1 {
  color: #FF0000;
}

.t2 {
  color: #FFA500;
}

.t3 {
  color: #FFFF00;
}

#info_loading {
  display: block;
  background: url('/images/template53/loading.gif') center no-repeat;
  height: 33px;
}

#my_bcalcs, #add_other, #add_own, #fleet_select_box, #side_select_box, #edit_comment_box, #con_fleets, #con_planets, #planet_note, #load_box, .display_box_small {
  background: #213d58;
  width: 500px;
  border: 1px solid #FFFFFF;
  position: absolute;
  z-index: 1000;
}

#add_other, #fleet_select_box, #side_select_box, #edit_comment_box, #con_fleets, #con_planets, #planet_note, .display_box_small {
  width: 200px !important;
  position: absolute;
}

#my_bcalcs table, #add_own table {
  width: 100%;
}

.bcalc_row_selected {
  color: #5292da;
  font-weight: bold;
}

#intel_form {
  padding: 5px;
  background: #213d58;
  border: 1px solid #FFFFFF;
}

#tab_links li {
  padding: 0 20px;
  display: inline;
}

.tab_link_active {
  color: #FFFFFF;
  text-decoration: none;
}

#alliance_menu {
  text-align: center;
}

#alliance_menu li {
  padding: 0 20px;
  display: inline;
}

.alliance_def_error {
  border: 2px solid #FF0000;
}

.alliance_def_valid {
  border: 2px solid #00FF00;
}

#con_fleets, #con_planets, #planet_note, #load_box, .display_box_small {
  padding: 10px;
}

#con_fleets li, #con_planets li, #load_box li {
  padding: 2px 0;
}

/* Scans */
.scan_age_new {
  color: #00FF00 !important;
}

.scan_age_old {
  color: #FFFF00 !important;
}

.scan_age_older {
  color: #FFA500 !important;
}

.scan_age_ancient {
  color: #FF0000 !important;
}

.tablesort_asc, .tablesort_desc {
  color: #CCCCCC;
  cursor: pointer;
}

.tablesort_asc:hover, .tablesort_desc:hover {
  text-decoration: underline;
}

.alliance_attack_claims_list li {
  display: inline;
}

#pabox_loading {
  display: none;
  overflow: hidden;
  background: url('/images/template53/loading.gif');
  width: 32px;
  height: 32px;
  margin-top: -20px;
  margin-left: -20px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1104;
  cursor: pointer;
}

#pabox_display {
  padding: 0;
  display: none;
  overflow: auto;
  border: 0;
  margin: 0;
}

#pabox_overlay {
  display: none;
  background: #000000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1100;
}

#pabox_wrapper {
  padding: 20px;
  display: none;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1101;
}

#pabox_outer {
  background: #213d58;
  width: 100%;
  height: 100%;
  border: 1px solid #FFFFFF;
  position: relative;
}

#pabox_inner {
  padding: 0;
  overflow: auto;
  width: 1px;
  height: 1px;
  outline: none;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.pabox_title {
  position: absolute;
  z-index: 1102;
}

#pabox_title_layered {
  background: #000000;
  bottom: 0;
}

#pabox_close {
  display: none;
  background: url('/images/template53/close.png');
  width: 30px;
  height: 30px;
  position: absolute;
  top: -15px;
  right: -15px;
  z-index: 1103;
  cursor: pointer;
}

.ally_def_incs_wrapper {
  margin-bottom: 2px;
}

.ally_def_attackers {
}

.ally_def_defenders {
}

.ally_def_eta_sep {
  height: 15px;
}

.ally_def_eta {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 2px 0;
  cursor: pointer;
}

.ally_def_selected {
  color: #5292da;
  font-weight: bold;
}

.ally_def_target {
  width: 100%;
}

.ally_def_target, .ally_def_attacker, .ally_def_defender, .ally_def_attacker_intel, .ally_def_fleetcatch_fleet {
  display: flex;
}

.ally_def_target_toggle_link {
  width: 10px;
  margin-left: -10px;
  cursor: pointer;
}

.ally_def_target_links {
  width: 3em;
  margin-left: 10px;
}

.ally_def_target_summary {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
}

.ally_def_target_mdata {
  display: flex;
  width: 250px;
}

.ally_def_target_mdata_nick {
  flex: 1 1 auto;
}

.ally_def_target_mdata_roids {
  display: flex;
  justify-content: flex-end;
  width: 50px;
}

.ally_def_target_mdata_dp {
  display: flex;
  justify-content: flex-end;
  width: 50px;
}

.ally_def_target_mdata_base {
  display: flex;
  justify-content: flex-end;
  width: 60px;
}

.ally_def_target_coords, .ally_def_attacker_coords, .ally_def_defender_coords {
  width: 4em;
}

.ally_def_attacker_fleetname {
  white-space: nowrap;
  flex: 1 0 auto;
  width: 120px;
}

.ally_def_attacker_race, .ally_def_defender_race {
  width: 2em;
}

.ally_def_attacker_orig_eta {
  text-align: right;
  width: 1.5em;
}

.ally_def_attacker_shipcount {
  text-align: right;
  flex: 1 0 auto;
  width: 3em;
}

.ally_def_attacker_links {
  padding-left: 0.5em;
  width: 7em;
}

.ally_def_attacker_call_status {
  width: 9em;
}

.ally_def_attacker_classes {
  padding-left: 0.5em;
  width: 120px;
}

.ally_def_attacker_intel {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  width: 120px;
}

.ally_def_fleetcatch_fleet_name {
  width: 120px;
  margin-left: 4em;
}

.ally_def_fleetcatch_fleet_shipcount {
  text-align: right;
  width: 6em;
}

.ally_def_defender_fleetname {
  white-space: nowrap;
  width: 126px;
}

.ally_def_defender_shipcount {
  text-align: right;
  width: 42px;
}

.ally_def_defender_orig_eta {
  text-align: right;
  width: 3em;
}

.ally_def_defender_mdata {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
}

.ally_def_defender_mdata_nick {
  display: flex;
  width: 100px;
}

.ally_def_defender_mdata_ap, .ally_def_defender_mdata_dp {
  display: flex;
  justify-content: flex-end;
  width: 50px;
}

.ally_def_details_fleet {
  display: flex;
}

.ally_def_details_classes {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
}