/* COVERT OPS
   -------------------------------------------------------*/
#page_covert {
  #notice {
	+ .container {
	  .header {
		display: none;
	  }

	  table {
		width: auto;
		margin: 0 auto;
	  }

	  td {
		font-weight: bold;
	  }
	}
  }

  #contents {
	.container {
	  &:nth-last-child(4) {
		.maintext {
		  > table {
			tr {
			  &:nth-child(1),
			  &:nth-child(2) {
				th,
				td {
				  font-size: $text-small;
				  font-weight: normal;
				  text-transform: uppercase;
				  padding-right: 2rem;
				  padding-left: 2rem;
				  background: transparent;
				}

				th {
				  padding-top: .5rem;
				}

				td {
				  padding-bottom: .5rem;
				  border-bottom: 1px solid rgba($color-primary, .3);
				}
			  }

			  &:nth-child(1) {
				th {
				  font-size: $text-medium;
				  font-weight: bold;
				}
			  }

			  td {
				padding: .5rem;
			  }
			}
		  }
		}

		table {
		  max-width: 600px;
		}

		form {
		  max-width: 600px;
		  margin: 1rem auto 0;

		  table {
			tr {
			  th,
			  td {
				background: transparent;

				&:nth-child(2) {
				  text-align: center;
				}

				&:last-child:not([colspan='3']) {
				  text-align: right;
				}
			  }
			}
		  }
		}
	  }

	  &:nth-last-child(5) {
		table {
		  tr {
			th,
			td {
			  background: transparent;
			}
		  }
		}
	  }
	}

	table {
	  max-width: 800px;

	  th {
		background: transparent;
	  }
	}
  }

  span {
	&[style*='red'] {
	  color: $color-negative !important;
	}

	&[style*='yellow'] {
	  color: $color-neutral !important;
	}

	&[style*='white'] {
	  color: inherit !important;
	  font-weight: bold;
	}
  }

  table {
	+ p {
	  padding-top: 1rem;
	}

	tr {
	  td {
		background: $color-secondary;
	  }

	  &:nth-child(even) {
		td {
		  background: $color-secondary-alt;
		}
	  }
	}
  }

  .training_info .title {
	font-size: 1rem;
	padding: .25rem .5rem;
	display: block;
	background: $color-bg-th;
	//background: linear-gradient(135deg, var(--col-panel-light) 0%, var(--col-panel-dark) 100%);
	margin-bottom: .5rem;
  }

  .description {
	padding-right: 15rem;
	padding-left: .5rem;
	position: relative;
  }

  .desc_link {
	font-size: $text-small;
	display: inline-block;
	position: absolute;
	top: 3px;
	right: 2rem;
  }

  .resources {
	font-size: $text-small;
	padding-left: .5rem;
	display: flex;
	margin-top: .15rem;

	li.textlabel {
	  min-width: 7rem;
	}
  }

  .training_amounts {
	display: flex;
	justify-content: flex-end;
	margin-top: -2.5rem;
	margin-right: 2rem;
  }

  .current_amount {
	padding-right: 2rem;
  }

  .new_amount {
	margin-top: -0.2rem;

	input {
	  width: 4rem;
	}
  }

  #unit_cost,
  #wage_bill {
	display: flex;
	justify-content: center;
	margin-bottom: .5rem;

	.resources {
	  font-size: 1rem;

	  > .textlabel {
		display: inline-block;
		min-width: 12rem;
	  }
	}
  }

  #unit_cost .textlabel {
	text-align: left;
  }
}

#agents_training,
#guards_training {
  padding: 0 0 1rem;
  background: $color-secondary;
}

#agents_training {
  margin-bottom: 2rem;
}

#security_redundancy_form {
  th,
  td {
	padding: .15rem 1rem;
  }
}

.save_cost {
  width: 4rem;
}