/* FLEETS
   -------------------------------------------------------*/
#page_fleets {
  td[colspan="11"] {
	background: transparent !important;

	&:empty {
	  display: none;
	}
  }

  #base_behavior {
	.header {
	  display: none;
	}

	.maintext {
	  margin-top: .5rem;
	}

	p {
	  color: $color-offwhite;
	  padding: 8px 0;
	  border: 1px solid transparent;
	  border-image: linear-gradient(to right, transparent 0%, rgba($color-primary, .5) 50%, transparent 100%);
	  border-image-slice: 1;

	  &.mission_attack {
		background: linear-gradient(to right, transparent 0%, rgba($color-negative, .2) 50%, transparent 100%);
	  }

	  &.mission_defend {
		background: linear-gradient(to right, transparent 0%, rgba($color-positive, .2) 50%, transparent 100%);
	  }
	}

	input[type="submit"] {
	  margin: 0;
	}
  }

  form {
	tr {
	  &:last-child {
		td {
		  background: transparent;
		}
	  }

	  th {
		background: $color-bg-th;
	  }

	  td {
		background: $color-secondary;

		input.input_coords {
		  margin-right: 5px;

		  &:last-child {
			margin-right: 0;
		  }
		}

		&:empty {
		  background: transparent;
		}

		&.mission_return {
		  opacity: 1;
		}

		&.mission_attack {
		  background: rgba($color-negative, .14);
		}

		&.mission_defend {
		  background: rgba($color-positive, .14);
		}

		&.mission_fake_defend {
		  background: rgba($color-neutral, .14);
		}
	  }

	  &:nth-child(even) {
		td {
		  background: $color-secondary-alt;

		  &:empty {
			background: transparent;
		  }
		}
	  }

	  &:nth-last-child(1),
	  &:nth-last-child(2),
	  &:nth-last-child(3),
	  &:nth-last-child(4),
	  &:nth-last-child(5) {
		th,
		td {
		  background: transparent;
		}
	  }

	  &:nth-last-child(7) {
		th {
		  background: $color-secondary-alt;

		  &:not(:first-child) {
			font-size: $text-large;
		  }
		}
	  }
	}

	&[name="movement"] {
	  display: table;
	  margin: 0 auto .5rem;
	  padding: 15px 30px;
	  background: $color-secondary;
	  border: 1px solid transparent;
	  border-image: linear-gradient(to right, transparent 0%, rgba($color-primary, .5) 50%, transparent 100%);
	  border-image-slice: 1;
	  box-shadow: inset 0 0 8px 2px rgba(0, 0, 0, 0.25), 0 0 3px 3px rgba(0, 0, 0, 0.15);

	  div#currentMoves {
		max-width: 600px;
		margin: 0 auto;
		text-align: center;
		line-height: 2;

		a {
		  margin: 0 0 0 5px !important;
		  line-height: 1.5rem !important;
		  width: auto !important;
		}

		br + br {
		  display: none;
		}

		input[type="submit"] {
		  display: block !important;
		  margin: 1rem auto 0 !important;
		}
	  }
	}
  }

  //#d_stats {
  // /*this is targeting the main ships table*/
  //+ script + .container {
  //  input {
  //	&[type="submit"] {
  //	  &:hover {
  //		cursor: url('data:image/svg+xml;utf8,<svg xmlns= "http://www.w3.org/2000/svg" width= "12" height= "30" style= "font-size: 20px;" ><text y= "15" ><span>&#127919;</span></text></svg>'), auto !important;
  //	  }
  //	}
  //  }
  //}
  //}
}

#fleet_overview {
  tr {
	background-color: $color-secondary;

	&:nth-child(odd) {
	  background-color: $color-secondary-alt;
	}

	&.mission_defend,
	&.mission_attack,
	&.mission_return {
	  .btn {
		color: $color-primary;
		//border: 1px solid $color-primary;
		background: transparent !important;
		padding: 0 2px;
		font-size: 14px;

		&:hover {
		  color: black;
		  background: $color-primary !important;
		}
	  }
	}

	&.mission_return {
	  td {
		opacity: 1;
	  }
	}

	&.mission_attack {
	  td {
		background: rgba($color-negative, .14);
	  }
	}

	&.mission_defend {
	  td {
		background: rgba($color-positive, .14);
	  }
	}

	&.mission_fake_defend {
	  td {
		background: rgba($color-neutral, .14);
	  }
	}
  }
}

#transships {
  tr {
	td {
	  background: $color-secondary !important;
	}

	&:nth-child(even) {
	  td {
		background: $color-secondary-alt !important;
	  }
	}

	&:last-child {
	  td {
		background: transparent !important;
	  }
	}
  }
}

th.superhighlight {
  color: $color-white;
}

#d_from,
#d_num,
#d_to {
  padding: 0;
  background: $color-background;
  width: auto !important;

  table {
	margin-bottom: 0;
	white-space: nowrap;

	tr {
	  th,
	  td {
		color: $color-offwhite;
		word-break: break-word;
	  }

	  td {
		background: $color-bg-th;

		&[colspan="4"],
		&[colspan="5"] {
		  text-align: center;
		}
	  }

	  td {
		background: $color-secondary;
	  }

	  &:first-child th {
		background: rgba(black, .12);
		padding: .25rem .5rem;
	  }

	  &:nth-child(even) {
		td {
		  background: $color-secondary-alt;
		}
	  }

	  a {
		font-size: $text-default;

		&[class*="d_fleet_"] {
		  padding: .25rem .5rem;
		}
	  }
	}
  }

  a:hover {
	color: $color-primary-dark;
  }
}