/* FLEETS
   -------------------------------------------------------*/
#page_fleets {
  td[colspan="11"] {
	background: transparent !important;

	&:empty {
	  display: none;
	}
  }

  #base_behavior {
	.header {
	  display: none;
	}

	.maintext {
	  margin-top: .5rem;
	}

	p {
	  color: $color-offwhite;
	  padding: 12px 0;
	  border: 1px solid transparent;
	  border-image: linear-gradient(to right, transparent 0%, rgba($color-primary, .5) 50%, transparent 100%);
	  border-image-slice: 1;

	  &.mission_attack {
		background: linear-gradient(to right, $color-background 0%, rgba($color-negative, .2) 50%, $color-background 100%);
	  }

	  &.mission_defend {
		background: linear-gradient(to right, $color-background 0%, rgba($color-positive, .2) 50%, $color-background 100%);
	  }
	}

	input[type="submit"] {
	  margin: 0;
	}
  }

  form {
	tr {
	  &:last-child {
		td {
		  background: transparent;
		}
	  }

	  th {
		background: $color-bg-th;
	  }

	  td {
		background: $color-secondary;

		&:empty {
		  background: transparent;
		}

		&.mission_return {
		  opacity: 1;
		}

		&.mission_attack {
		  background: rgba($color-negative, .14);
		}

		&.mission_defend {
		  background: rgba($color-positive, .14);
		}

		&.mission_fake_defend {
		  background: rgba($color-neutral, .14);
		}
	  }

	  &:nth-child(even) {
		td {
		  background: $color-secondary-alt;

		  &:empty {
			background: transparent;
		  }
		}
	  }

	  &:nth-last-child(1),
	  &:nth-last-child(2),
	  &:nth-last-child(3),
	  &:nth-last-child(4),
	  &:nth-last-child(5) {
		th,
		td {
		  background: transparent;
		}
	  }

	  &:nth-last-child(7) {
		th {
		  background: $color-secondary-alt;
		}
	  }
	}
  }
}


#fleet_overview {
  tr {
	&.mission_defend,
	&.mission_attack,
	&.mission_return {
	  .btn {
		color: $color-primary;
		//border: 1px solid $color-primary;
		background: transparent !important;
		padding: 0 2px;
		font-size: 14px;

		&:hover {
		  color: black;
		  background: $color-primary !important;
		}
	  }
	}
  }
}

th.superhighlight {
  color: $color-white;
}

#d_from,
#d_num,
#d_to {
  border: 0 !important;

  th,
  td {
	color: $color-offwhite;
	word-break: break-word;
  }

  a:hover {
	color: $color-primary-dark;
  }
}
