/* FOREIGN AFFAIRS
   -------------------------------------------------------*/
#page_politics {
  #tab1 {
	.container {
	  &:first-child {
		.header {
		  &:before {
			content: 'Galaxy Status ';
		  }
		}
	  }
	}
  }

  #tab3 {
	table {
	  tr {
		td {
		  background: $color-secondary;
		}

		&:nth-child(even) {
		  td {
			background: $color-secondary-alt;
		  }
		}

		&:first-child {
		  > * {
			background: $color-bg-th;
		  }
		}
	  }
	}
  }

  #tab3 {
	table {
	  tr {
		th {
		  background: transparent;

		  &:first-child {
			width: 45px !important;
		  }
		}
	  }
	}
  }
}

#galaxy_banner {
  .header::before {
	content: 'Galaxy Banner ';
  }

  + script + .container {
	.header {
	  display: none;
	}

	.maintext > p {
	  font-size: $text-default;
	  line-height: 1.6rem;
	  text-align: center;

	  .superhighlight {
		font-size: 1.3rem;
		padding: 7px 0 3.5px;
		display: inline-block;
	  }
	}
  }
}

.tablesort_asc,
.tablesort_desc {
  color: $color-primary;
}