#page_galaxy {
  input[type="number"] {
    padding: .25rem !important;
    min-width: 3rem;
    height: 1.5rem;
    color: $color-primary;
  }

  .tablesort {
    thead {
      background: $color-secondary;

      th {
        padding: 10px 4px;

        &.tablesort_asc,
        &.tablesort_desc {
          color: $color-offwhite;
        }
      }
    }

    tbody {
      tr {
        td {
          &:nth-child(9) {
            a {
              color: $color-primary;
              padding-right: 2px;

              &:last-child {
                padding-right: 0;
              }
            }
          }

          a,
          span {
            color: $color-offwhite;

			&.bashlimit {
			  color: $color-neutral;
			}

            &.gc {
              color: $color-gc;
            }

            &.moc {
              color: $color-moc;
            }

            &.mow {
              color: $color-mow;
            }

            &.mod {
              color: $color-mod;
            }
          }
        }
      }
    }
  }
}
