/* GALAXY FORUM
   -------------------------------------------------------*/
.forum_description {
  color: $color-offwhite;
  font-size: $text-small;
}

.forum {
  display: flex;
  flex-flow: row wrap;

  > div {
	background: $color-secondary;

	&.forum_title {
	  background: transparent !important;
	}

	&:nth-child(8n - 0),
	&:nth-child(8n - 1),
	&:nth-child(8n - 2) {
	  background: $color-secondary-alt;
	}
  }
}

.forum_title {
  flex-basis: 100%;
  margin-bottom: 1rem;
}

.forum_thread_header_title,
.forum_thread_title {
  text-align: left;
  flex-basis: 50%;
}

.forum_thread_header_lastpost,
.forum_thread_lastpost {
  font-size: $text-small;
  text-align: left;
  display: inline-flex;
  align-items: center;
  flex-basis: 40%;
}

.forum_thread_header_replies,
.forum_thread_replies {
  flex-basis: 10%;
}

div[class^='forum_thread_header'] {
  font-size: $text-small;
  text-transform: uppercase;
  background: $color-bg-th;
  border-top: 1px solid transparent;
  border-image: linear-gradient(to right, transparent 0%, rgba($color-primary, .5) 50%, transparent 100%);
  border-image-slice: 1;
}

.forum_thread_actions_button {
  text-indent: -99rem;
  display: inline-block;
  background: none;

  &:hover {
	text-decoration: none;

	&:after {
	  color: $color-offwhite;
	}
  }

  &:after {
	color: $color-primary;
	font-size: 10px;
	content: '\25BC';
	position: relative;
	top: 0;
	left: 95.2rem;
  }
}

.forum_thread_actions span {
  display: block;
}

#forum_nav {
  margin-bottom: 1rem;
}

.forum_post {
  padding: 2rem 1rem;
  display: flex;
  flex-flow: row wrap;
}

.forum_post_number,
.forum_poster,
.forum_post_title,
.forum_post_time {
  font-size: $text-small;
}

.forum_post_number {
  font-weight: bold;
  flex-basis: 3rem;
  order: 1;
}

.forum_poster {
  font-size: 1rem;
  flex-grow: 1;
  order: 2;
}

.forum_post_title {
  text-align: left;
  flex-grow: 1;
  order: 3;
}

.forum_post_time {
  text-align: right;
  flex-basis: 10rem;
  order: 4;
}

.forum_post_text {
  padding: 1rem;
  flex-basis: 100%;
  flex-shrink: 0;
  background: $color-secondary;
  border: 1px solid rgba($color-primary, .5);
  order: 5;
}

.forum_post_notes {
  order: 6;
}

.forum_post_actions {
  order: 7;

  span {
	a {
	  margin: 0;
	}
  }
}

.forum_post_seperator {
  display: none;
  border: 1px solid rgba($color-primary, .5);
  margin: 1rem;
}

.forum_post_delete,
.forum_post_edit,
.forum_post_report,
.forum_post_quote,
.forum_post_reply {
  margin: 0;
}

.mceEditor,
.mceToolbarContainer,
.mceStatusbarBottom {
  background: transparent !important;
  border-style: solid !important;
  border-color: $color-primary !important;
}

.mceEditor {
  width: calc(100% - 1rem);
  border-width: 2px !important;
  margin: .5rem;
}

.mceToolbarContainer {
  border-width: 0 0 2px 0 !important;
}

.mceStatusbarBottom {
  border-width: 1px 0 0 0 !important;
}

.mceContentBody {
  font-size: 1rem !important;
  padding: .5rem;
}

#editor {
  margin: 0 1rem;

  > .center,
  + .center {
	font-size: $text-small;

	a {
	  display: inline-block;
	  margin-right: 1rem;
	}
  }
}

table.mceEditor {
  tr {
	display: table !important;
	width: 100%;

	td {
	  padding: 0;
	  width: 100%;

	  &.mceToolbarTop {
		> span {
		  > span,
		  > a {
			margin: .25rem;
		  }

		  > span {
			> a {
			  margin: 0 .25rem;

			  + a {
				width: auto;
			  }
			}
		  }
		}
	  }

	  .mceToolbarContainer {
		padding: .5rem .5rem 0;
		background: $color-secondary !important;

		a {
		  background: #ccc !important;
		}
	  }

	  &.mceStatusbarBottom {
		display: none;
	  }

	  .mceSeparatorLine {
		padding: 0;
		height: 26px;
		border: 0;
		margin-top: 0;
		margin-right: 1rem;
		margin-left: 1rem;
	  }

	  a {
		width: 24px;
		height: 24px;
		margin: .5rem 0 !important;

		&[accesskey='q'],
		&[accesskey='z'] {
		  display: none !important;
		}

		&.mceButtonDisabled img,
		&.mceButtonNormal img,
		&.mceButtonSelected img {
		  width: 24px;
		  height: 24px;
		}

		span.mceMenuButton img,
		span.mceMenuButtonSelected img {
		  width: 24px;
		  height: 24px;
		}
	  }

	  select.mceSelectList {
		height: 1.8rem;
		margin: 7px .5rem;

		&:first-of-type {
		  margin-right: 0;
		}
	  }
	}
  }
}