#page_galaxy {
  #contents {
	.maintext .superhighlight {
	  color: inherit;
	  font-size: 1.5rem;
	}
  }

  input {
	margin: 0 !important;

	&[type='number'] {
	  color: $color-primary;
	  padding: .25rem !important;
	  min-width: 3rem;
	  height: 1.5rem;
	}
  }

  table {
	width: 100% !important;

	&:not(#galtable) {
	  margin-bottom: 0;
	}

	&#galtable {
	  thead {
		background: $color-background;

		th {
		  width: auto !important;

		  &.tablesort_asc,
		  &.tablesort_desc {
			color: $color-offwhite;
		  }
		}
	  }

	  tbody {
		tr {
		  &:not(.relations_friendly,
                .relations_allied,
                .relations_hostile,
                .relations_war,
                .relations_nap,
                .relations_own_member,
                .relations_own_recruit) {
			&:nth-child(odd) {
			  background: $color-secondary;
			}

			&:nth-child(even) {
			  background: $color-secondary-alt;
			}
		  }

		  td {
			&:nth-child(9) {
			  a {
				color: $color-primary;
				padding-right: 2px;

				&:last-child {
				  padding-right: 0;
				}
			  }
			}

			a,
			span {
			  color: $color-offwhite;

			  &.bashlimit {
				color: $color-neutral;
			  }

			  &.gc {
				color: $color-gc;
			  }

			  &.moc {
				color: $color-moc;
			  }

			  &.mow {
				color: $color-mow;
			  }

			  &.mod {
				color: $color-mod;
			  }
			}

			&:last-child {
			  font-size: $text-medium;
			}
		  }
		}
	  }

	  th,
	  td {
		white-space: normal;
		padding: .25rem .5rem;
	  }

	  td {
		&:nth-last-child(2) {
		  padding: .25rem;

		  a {
			padding: 0 .125rem;
		  }
		}
	  }

	  tfoot {
		tr {
		  &:nth-child(1) {
			display: none;
		  }

		  &:nth-child(2) {
			td {
			  background: $color-bg-th;
			}
		  }
		}
	  }
	}
  }

  #intel_form {
	color: $color-offwhite !important;
	padding: 0;
	background: $color-background;
	border: 1px solid rgba($color-primary, .5);

	p {
	  text-align: center;
	  padding: 0 .5rem;
	  margin: .5rem 0;

	  &.right {
		position: absolute;
		top: -4px;
		right: -10px;
	  }
	}

	select#intel,
	input[name='nick'] {
	  width: 100%;
	  margin: .25rem auto .5rem;
	}

	input[name='nick'] {
	  margin-bottom: 0;
	}

	input[type='submit'] {
	  margin: .5rem;
	}
  }
}