#page_history {
  .maintext {
	img {
	  width: 100%;
	  max-width: 800px;
	}

	table {
	  width: auto;
	  min-width: 450px;

	  tr {
		th,
		td {
		  padding: .25rem .75rem;
		}

		td {
		  background: $color-secondary;
		}

		&:nth-child(even) {
		  td {
			background: $color-secondary-alt;
		  }
		}
	  }
	}

  }

  #tab3,
  #tab4 {
	th,
	td {
	  text-align: center;
	}
  }

  #tab5,
  #tab6 {
	.maintext {
	  table {
		tr {
		  th,
		  td {
			&:empty {
			  background: transparent;
			}
		  }
		}
	  }
	}
  }
}