#page_history {
  .maintext {
	img {
	  width: 100%;
	  max-width: 600px;
	}

	table {
	  width: auto;
	  min-width: 450px;

	  tr {
		&:not(:nth-child(1)):not(:nth-child(2)) {
		  th {
			background: $color-background;
		  }
		}

		th,
		td {
		  padding: .25rem .75rem;
		}

		td {
		  background: $color-secondary;
		}

		&:nth-child(even) {
		  td {
			background: $color-secondary-alt;
		  }
		}
	  }
	}

  }

  #tab3,
  #tab4 {
	th,
	td {
	  text-align: center;
	}
  }

  #tab5 {
	.container {
	  &:first-child {
		table {
		  &:nth-child(1),
		  &:nth-child(3) {
			tr {
			  &:first-child {
				th {
				  background: $color-background;
				}
			  }
			}
		  }

		  &:nth-child(1) {
			tr {
			  &:first-child {
				th {
				  &[class="center"] {
					background: $color-background;
					font-size: $text-large;
					color: rgba($color-positive, .75);
				  }
				}
			  }
			}
		  }

		  &:nth-child(3) {
			color: red;

			tr {
			  &:first-child {
				th {
				  &[class="center"] {
					background: $color-background;
					font-size: $text-large;
					color: rgba($color-negative, .75);
				  }
				}
			  }
			}
		  }

		  tr {
			th,
			td {
			  &:empty {
				background: $color-background;
			  }
			}
		  }
		}
	  }
	}
  }

  #tab6 {
	tr {
	  th,
	  td {
		&:empty {
		  background: $color-background;
		}
	  }
	}
  }
}