/* Menu
   -------------------------------------------------------*/
#menu_top,
#menu_bottom {
  display: none;
}

#menu {
  padding: 0 0 1rem;
  list-style: none;
  display: table;
  background: $color-background;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  @include respond-below(sm) {
	max-width: 100px;
	grid-column: 1 / 2;
	grid-row: 1/4;
  }

  > li {
	padding: 0 0 .15rem;

	&#menu_overview,
	&#menu_preferences,
	&#menu_logout {
	  padding: 0 .5rem .15rem;
	}

	&#menu_preferences,
	&#menu_logout {
	  font-size: $text-small;
	  text-align: center;
	  width: 50%;
	  margin: 1rem 0;
	  float: left !important;
	}

	&#menu_view_link {
	  font-size: $text-small;
	  margin-bottom: 0;

	  a {
		text-align: center;
		display: inline-block;
		width: 100%;
	  }
	}

	&#menu_overview {
	  padding: .5rem;
	  width: 100%;
	  border-top: 1px solid transparent;
	  border-image: linear-gradient(to right, transparent 0%, rgba($color-primary, .5) 100%);
	  border-image-slice: 1;
	  box-shadow: inset 0 0 8px 2px rgba(#000, .25), 3px 0 6px -3px rgba(#000, .25);
	}

	&#menu_overview,
	&.menu_grp {
	  background: $color-secondary;
	}

	&.menu_grp {
	  padding: 0;
	  margin: 0;

	  > span {
		font-size: $text-small;
		font-weight: bold;
		text-transform: uppercase;
		padding: .25rem .5rem;
		display: block;
		background: #19222b;
		border-bottom: 1px solid transparent;
		border-image: linear-gradient(to right, transparent 0%, rgba($color-primary, .5) 100%);
		border-image-slice: 1;
	  }
	}

	> ul {
	  padding: .25rem 0 .5rem;
	  box-shadow: inset 0 0 8px 2px rgba(#000, .25), 3px 0 6px -3px rgba(#000, .25);

	  > li {
		> ul {
		  margin-left: .5rem;
		}
	  }
	}
  }

  ul {
	list-style: none;
  }

  li {
	padding: 0 .5rem .15rem;

	li {
	  li {
		padding: 0;

		&:before {
		  color: rgba($color-primary, .5);
		  font-size: 1.5rem;
		  line-height: 1.5rem;
		  vertical-align: middle;
		  content: '\279f';
		  position: relative;
		  left: -5px;
		}

		a {
		  line-height: 1.5rem;
		}
	  }
	}
  }

  #menu_time {
	color: rgba($color-primary, .55);
	font-size: 0;
	padding-bottom: 8rem;
	margin-top: 2rem;

	span {
	  &#time {
		color: $color-text;
		font-size: $text-huge;
		animation: pulse 1s infinite;

		&:hover {
		  text-shadow: 0 0 0 $color-primary;
		}
	  }

	  &#time_loaded {
		color: rgba($color-text, .5);
		font-size: $text-medium;
		position: relative;

		&:before {
		  color: rgba($color-primary, .5);
		  font-size: $text-large;
		  white-space: nowrap;
		  padding: .25rem;
		  content: 'Ultimate skin v4.07';
		  border: 1px solid rgba($color-primary, .5);
		  position: absolute;
		  bottom: -3.75rem;
		  left: 50%;
		  transform: translateX(-50%);
		}
	  }
	}
  }
}

#hc_links {
  a.ally_def_selected {
	color: $color-positive;
  }
}

#tnav {
  border: none;
}

#alliance_menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;

  li {
	padding: 0;
	display: inline;

	a {
	  color: $color-primary;
	  font-size: $text-medium;
	  font-weight: bold;
	  text-transform: uppercase;
	  white-space: nowrap;
	  letter-spacing: .5px;
	  display: inline-block;
	  margin: .5rem;
	  position: relative;
	  transition: all 0.5s ease-in-out;

	  &.tab_link_active {
		color: $color-text;

		&:before,
		&:after {
		  width: 50%;
		}

		&:before {
		  background: linear-gradient(to right, $color-primary 25%, transparent 100%);
		}

		&:after {
		  background: linear-gradient(to left, $color-primary 25%, transparent 100%);
		}
	  }

	  &:before,
	  &:after {
		content: '';
		width: 0;
		height: 1px;
		margin: 5px 0 0;
		position: absolute;
		bottom: -2px;
		transition: all 0.3s ease-in-out;
	  }

	  &:after,
	  &:before {
		width: 0;
	  }

	  &:before {
		left: 50%;
	  }

	  &:after {
		right: 50%;
	  }

	  &:hover {
		color: $color-text;
		cursor: pointer;

		&:before,
		&:after {
		  opacity: 1;
		  width: 50%;
		}

		&:before {
		  background: linear-gradient(to right, $color-primary 250%, transparent 100%);
		}

		&:after {
		  background: linear-gradient(to left, $color-primary 25%, transparent 100%);
		}
	  }
	}
  }
}
