
#page_messages {
  #contents {
	.maintext {
	  table {
		tr {
		  background: $color-secondary-alt;

		  &:first-child {
			background: transparent;
		  }

		  &:nth-child(4n) {
			background: $color-secondary;
		  }

		  &:nth-child(2n - 1) {
			background: $color-background;

			td {
			  padding: 20px 0;
			}
		  }

		  th {
			background: transparent;
		  }
		}
	  }

	  > table {
		tr {
		  background: transparent !important;

		  th {
			background: transparent;

			a {
			  display: inline-block;
			  height: 1.5rem;
			  margin: 1rem 0;
			  padding: 0 .5rem;
			  color: $color-primary !important;
			  background: $color-secondary !important;
			  border: 1px solid rgba($color-primary, .5) !important;
			  cursor: pointer;
			  box-shadow: none;
			  border-radius: 0;
			  text-transform: initial;
			  font-weight: initial;
			  transition: .3s;
			  font-family: inherit;
			  font-size: 1rem;

			  &:hover {
				text-decoration: none !important;
				color: black !important;
				background: $color-primary !important;
			  }
			}
		  }
		}
	  }

	}
  }

  a[onclick^="read"],
  a[onclick^="reply"],
  a[href*='action=delete'],
  a[href*='action=report'] {
	display: inline-block;
	position: relative;
	width: 1.5rem;
	height: 1.5rem;

	&:after {
	  font-size: 1.3rem;
	}
  }

  //img {
  //  display: none !important;
  //}

  &:after {
	position: absolute;
	top: 0;
	left: 1px;
	color: $color-zikonian;
	font-size: 1.25rem;
	line-height: 1.5rem;
  }

  a[onclick^="read"]::after {
	content: '\2709';
	color: $color-text;
  }

  a[onclick^="reply"]::after {
	content: '\21a9';
	color: $color-text;
  }

  a[href*='action=report']::after {
	content: '\26a0';
	color: $color-neutral;
  }

  a[href*='action=delete']::after {
	content: '\2716';
	color: $color-zikonian;
  }

  #tab1 .container {
	&:nth-child(2) .header::before {
	  content: 'Send recall message';
	}

	&:nth-child(3) {
	  .header::before {
		content: 'Messages';
	  }

	  table th {
		text-transform: initial;
	  }
	}
  }
}

.mail_unread th {
  color: $color-primary;
}

.mail_unread,
.mail_read {
  img {
	display: none !important;
  }
}