
#page_messages {
  #contents {
	.maintext {
	  table {
		tr {
		  background: $color-secondary-alt;
		  transition: ease all .5s;

		  &:hover {
			background-color: rgba($color-primary, .25);
		  }

		  &:first-child {
			background: transparent;
		  }

		  &:nth-child(4n) {
			background: $color-secondary;

			&:hover {
			  background-color: rgba($color-primary, .25);
			}
		  }

		  &:nth-child(2n - 1) {
			background: $color-background;

			td {
			  padding: 20px 0;
			  border: 2px solid rgba($color-primary, .2);
			}
		  }

		  th {
			background: transparent;
		  }
		}
	  }

	  > table {
		tr {
		  background: transparent !important;

		  th {
			background: transparent;
		  }
		}
	  }
	}
  }

  a[onclick^='read'],
  a[onclick^='reply'],
  a[href*='action=delete'],
  a[href*='action=report'] {
	display: inline-block;
	width: 21px;
	height: 21px;
	position: relative;

	&:after {
	  font-size: 1.3rem;
	}
  }

  //img {
  //  display: none !important;
  //}
  &:after {
	color: $color-zikonian;
	font-size: 1.25rem;
	line-height: 21px;
	position: absolute;
	top: 0;
	left: 1px;
  }

  a[onclick^='read']::after {
	color: $color-text;
	content: '\2709';
  }

  a[onclick^='reply']::after {
	color: $color-text;
	content: '\21a9';
  }

  a[href*='action=report']::after {
	color: $color-neutral;
	content: '\26a0';
  }

  a[href*='action=delete']::after {
	color: $color-zikonian;
	content: '\2716';
  }

  #tab1 .container {
	&:nth-child(2) .header::before {
	  content: 'Send recall message';
	}

	&:nth-child(3) {
	  .header::before {
		content: 'Messages';
	  }

	  table th {
		text-transform: initial;
	  }
	}
  }
}

.mail_unread th {
  color: $color-primary;
}

.mail_unread,
.mail_read {
  img {
	display: none !important;
  }
}