/* MINING
   -------------------------------------------------------*/
#mining,
#galaxy_fund {
  table {
	max-width: 900px;
	margin: 14px auto;

	tr {
	  td {
		background: $color-secondary;
		height: 21px;

		.textlabel {
		  display: inline-block;
		  margin: .2rem 0 0 28px;
		}

		.metal,
		.crystal,
		.eonium {
		  background-repeat: no-repeat;
		  background-size: 21px 21px;
		  height: 21px;

		  .textvalue {
			padding: 0 14px 0 1.2rem;
			background-repeat: no-repeat;
			background-position-y: 1px;
		  }
		}

		.metal {
		  background-image: url('/images/template53/metal_48.png');
		}

		.crystal {
		  background-image: url('/images/template53/crystal_48.png');
		}

		.eonium {
		  background-image: url('/images/template53/eonium_48.png');
		}
	  }

	  &:nth-child(even) {
		td {
		  background: $color-secondary-alt;
		}
	  }
	}

	&:not(:last-child) {
	  tr {
		&:first-child {
		  th {
			padding-bottom: .3rem;
		  }
		}
	  }
	}

	td {
	  height: 21px;
	}
  }

  .resources {
	.metal,
	.crystal,
	.eonium {
	  .textvalue {
		padding: 0 14px 0 1.2rem;
		background-repeat: no-repeat;
		background-position-y: 1px;
	  }
	}

	.metal .textvalue {
	  background-image: url('/images/template53/metal_16.png');
	}

	.crystal .textvalue {
	  background-image: url('/images/template53/crystal_16.png');
	}

	.eonium .textvalue {
	  background-image: url('/images/template53/eonium_16.png');
	}
  }

  #guard_cost {
	margin-bottom: 7px;
  }

  input[type='number'] {
	padding-right: .1rem;
	min-width: 3rem;
  }

  p.center:last-child {
	font-style: italic;
  }

  #gal_target_amount,
  #uni_target_amount {
	font-weight: bold;
  }
}

#galaxy_fund {
  form[action^='mining.pl?'] {
	table {
	  tr {
		&:first-child {
		  display: none;
		}
	  }
	}
  }

  table {
	margin-bottom: 0;

	tr {
	  td {
		&[colspan='5'] {
		  padding: 14px 0 0;
		  background: transparent;
		}
	  }
	}

	&:not(:last-child) tr:first-child th {
	  padding-bottom: 7px;
	  background: transparent;
	}
  }
}

#mining,
#galaxy_fund,
#alliance_fund,
#alliance_fund_trade,
#alliance_fund_donate {
  .metal,
  .crystal,
  .eonium {
	display: block;
	background-size: contain;
	width: 100%;
	height: 30px;
  }
}

#alliance_fund,
#alliance_fund_trade,
#alliance_fund_donate {
  .metal,
  .crystal,
  .eonium {
	background-position: center;
  }
}