#view_news {
  > .maintext {
    > table {
      > tbody {
        > tr {
          &.new {
            > th,
            > td {
              background: rgba($color-primary, .1) !important;
            }
          }

          &:first-child {
            th {
              padding: .5rem .125rem;
            }
          }

          th,
          td {
            background: $color-borders;
          }

          > td {
            &:last-child {
              padding: 16px 12px;
            }
          }

          &:nth-child(even) {
            th,
            td {
              background: darken($color-borders, 3%);
            }
          }


          table {
            background: transparent;

            tr {
              &:first-child {
                th,
                td {
                  background: transparent;
                }
              }

              &:nth-child(odd) {
                th,
                td {
                  background: rgba(0, 0, 0, .02);
                }
              }

              &:nth-child(even) {
                th,
                td {
                  background: rgba(0, 0, 0, 0.1);
                }
              }
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  .maintext {
    > table {
      > tbody {
        > tr {
          > td {
            &:first-child {
              a {
                color: rgba($color-primary, .8);
              }
            }
          }
        }
      }
    }
  }
}


#page_news_entry {
  table {
    width: 100%;
    max-width: 800px;

    table {
      tr {
        &:nth-child(even) {
          background: darken($color-borders, 3%);
        }
      }
    }
  }
}
