#view_news {
  > .maintext {
	> table {
	  > tbody {
		> tr {
		  &.new {
			> th,
			> td {
			  background: rgba($color-primary, .1) !important;

			  table {

				tr {
				  &:nth-child(even) {
					td {
					  background: $color-secondary;
					}
				  }

				  &:nth-child(odd) {
					td {
					  background: $color-secondary-alt;
					}
				  }

				  &:first-child {
					td {
					  background: transparent;
					}
				  }
				}
			  }
			}
		  }

		  &:first-child {
			th {
			  padding: .5rem .125rem;
			}
		  }

		  //th {
		  //background: rgba(black, .23);
		  //}
		  //
		  > td {
			background: $color-secondary;
		  }

		  > td {
			&:last-child {
			  padding: 2rem 1rem;
			}
		  }

		  &:nth-child(even) {
			> td {
			  background: $color-secondary-alt;
			}
		  }

		  table {
			background: transparent;
			width: 100%;
			margin: 0 auto 1rem;

			tr {

			  &:nth-child(even) {
				background: $color-secondary;
			  }

			  &:nth-child(odd) {
				background: $color-secondary-alt;
			  }

			  &:first-child {
				background: transparent;
			  }
			}

			&:last-child {
			  margin-bottom: 0;
			}
		  }

		  &.news_fleet {
			table {
			  &:first-child {
				tr {
				  &:first-child {
					th {
					  text-align: center;
					}
				  }

				  td {
					&:nth-child(2) {
					  background: rgba($color-positive, .1);
					}

					&:nth-child(3) {
					  background: rgba($color-negative, .1);
					}
				  }
				}
			  }

			  &:last-child {
				th {
				  position: relative;

				  &:nth-child(2),
				  &:nth-child(3),
				  &:nth-child(4) {
					font-size: $text-default;
					line-height: 1;
					text-align: center;
					padding: .25rem .5rem;
					font-weight: normal;
					background: $color-secondary-alt;

					&:after {
					  width: 1rem;
					  height: 1rem;
					  margin-left: .4rem;
					  content: "";
					  display: inline-block;
					  vertical-align: sub;
					}
				  }

				  &:nth-child(2) {
					&:after {
					  background: url(/images/template53/metal_16.png) no-repeat center, $color-bg-th;
					}
				  }

				  &:nth-child(3) {
					&:after {
					  background: url(/images/template53/crystal_16.png) no-repeat center, $color-bg-th;
					}
				  }

				  &:nth-child(4) {
					&:after {
					  background: url(/images/template53/eonium_16.png) no-repeat center, $color-bg-th;
					}
				  }
				}
			  }
			}
		  }

		  &:not(.news_fleet) {
			table {
			  &:first-child {
				tr {
				  &:nth-child(n + 3) {
					th,
					td {
					  &:nth-child(2) {
						background: rgba($color-negative, .2);
					  }

					  &:nth-child(3),
					  &:nth-child(7) {
						background: rgba($color-killed, .1);
					  }

					  &:nth-child(4),
					  &:nth-child(8) {
						background: rgba($color-emp, .1);
					  }

					  &:nth-child(5) {
						border-right: 4px solid $color-background;
					  }

					  &:nth-child(5),
					  &:nth-child(9) {
						background: rgba($color-stolen, .1);
					  }

					  &:nth-child(6) {
						background: rgba($color-positive, .23);
					  }
					}
				  }
				}
			  }

			  &:last-child {
				tr {
				  th,
				  td {
					&:nth-child(2),
					&:nth-child(3),
					&:nth-child(4) {
					  text-align: center;
					  font-size: $text-medium;
					  line-height: 1;
					}
				  }

				  td {
					&:nth-child(2),
					&:nth-child(3),
					&:nth-child(4) {
					  font-size: $text-large;
					  line-height: 1;
					}
				  }

				  &:nth-child(2) {
					th {
					  position: relative;

					  &:nth-child(2),
					  &:nth-child(3),
					  &:nth-child(4) {

						&:after {
						  width: 1rem;
						  height: 1rem;
						  margin-left: .4rem;
						  content: "";
						  display: inline-block;
						  vertical-align: sub;
						}
					  }

					  &:nth-child(2) {
						&:after {
						  background: url(/images/template53/metal_16.png) no-repeat center, $color-bg-th;
						}
					  }

					  &:nth-child(3) {
						&:after {
						  background: url(/images/template53/crystal_16.png) no-repeat center, $color-bg-th;
						}
					  }

					  &:nth-child(4) {
						&:after {
						  background: url(/images/template53/eonium_16.png) no-repeat center, $color-bg-th;
						}
					  }
					}
				  }
				}
			  }
			}
		  }
		}
	  }
	}
  }

  .maintext {
	> table {
	  > tbody {
		> tr {
		  > td {
			&:first-child {
			  a {
				color: rgba($color-primary, .8);
			  }
			}
		  }
		}
	  }
	}
  }
}

#page_news_entry {
  table {

	table {
	  tr {
		&:nth-child(even) {
		  background: $color-secondary-alt;
		}
	  }
	}
  }
}