/* OVERVIEW
   -------------------------------------------------------*/
.notice_protection {
  color: $color-neutral;
}

#quest_system {
  table {
    margin: 0 auto;
    width: 80%;

    th {
      &:nth-child(1) {
        width: 0 !important;
      }

      &:nth-child(2) {
        width: auto !important;
      }

      &:nth-child(3) {
        width: 100px !important;
      }

      &:nth-child(4) {
        width: 1rem !important;
      }

      &:nth-child(5) {
        width: 0 !important;
      }
    }

    tr {
      &:not(:first-child) {
        th {
          text-transform: initial;
          font-size: 1rem;

          &:nth-child(2) {
            padding: .15rem 0;
            background: $color-secondary;
            //background: linear-gradient(135deg, var(--col-panel-light) 0%, var(--col-panel-dark) 100%);
          }
        }

      }

      &[id^='quest'] p {
        font-size: $text-small;
        margin: 0 1.1rem;
        color: white;
      }
    }

    table {
      width: calc(100% - 2.4rem);
      margin-left: 1rem;

      td {
        &:nth-child(1) {
          width: auto !important;
        }

        &:nth-child(2) {
          width: 100px !important;
        }

        &:nth-child(2n+2) {
          td {
            padding: .5rem;
            background: $color-secondary;
            //background: linear-gradient(135deg, var(--col-panel-light) 0%, var(--col-panel-dark) 100%);
          }
        }
      }
    }
  }

  .completed {
    width: 100%;
    background: none;

    &:after {
      content: '\2714';
      font-weight: bold;
      color: $color-primary;
    }
  }
}


.expand {
  display: inline-block;
  margin-right: .5rem;
  background: none;

  &:before {
    content: '\25BC';
    color: $color-primary;
    display: inline;
  }

  &:hover {
    &:before {
      color: $color-text;
    }
  }
}

.progress_wrapper {
  background-color: $color-black-light;
  color: $color-text;
  font-size: $text-small;
  height: 1.5rem;
  width: 100px;
}

.progress_bar {
  height: 1.5rem;
  background: $color-progress-completed;
  //background: linear-gradient(135deg, $color-primary 0%, $color-primary-dark 100%);
}

.progress_expected {
  background: rgba(237, 255, 0, .4);
  height: 100%;
  margin-top: -1.5rem;
  background-size: 100%;
}

.progress_value {
  margin-top: -1.3rem;
  color: white;
  position: relative;
  text-shadow: 0px 1px 1px black;
}


.info_header {
  color: $color-offwhite;
  text-align: left;
  margin-bottom: .25rem;
  padding-left: .25rem;
  position: relative;
  padding: .5rem 1rem .5rem .5rem;
  font-size: $text-small;

  a {
    position: absolute;
    top: .45rem;
    right: .25rem;
    text-transform: uppercase;

    &:hover {
      color: $color-primary-dark;
    }
  }
}

.info_contents {
  p {
    min-width: 15rem;
    font-size: $text-small;
    color: $color-offwhite;
  }
}

span {
  &.mission_attack,
  &.mission_defend,
  &.mission_return,
  &.mission_fake_defend {
    background: transparent;
    opacity: 1;
  }
}

.mission_attack {
  color: $color-negative;
  background: rgba($color-negative, .14);

  .mission_attack {
    background: transparent;
  }
}

.mission_fake_defend {
  color: $color-neutral;
  background: rgba($color-neutral, .14);

  .mission_fake_defend {
    background: transparent;
  }
}

.mission_return {
  opacity: .5;
  color: #888888;

  .mission_return {
    opacity: 1;
  }
}

.mission_defend {
  color: #00AA00;
  background: rgba($color-positive, .14);

  .mission_defend {
    background: transparent;
  }
}
