/* Page content
   -------------------------------------------------------*/
#contents {
  grid-column: 2 / 3;
  grid-column-end: 4;
  margin: .5rem 0;
  background: transparent;
  border: none;
  width: auto;
  @include respond-below(sm) {
    grid-row: 3/3;
    grid-column: 2 / 2;
    max-width: calc(100vw - 114px);
  }
}

#contents_header,
#notice .header {
  display: none;
}

#contents_information,
.container {
  padding: 0;
}

//div#contents_information {
//  position: absolute;
//  right: 0px;
//  margin-top: 3px;
//}

#manual_info {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  margin: .5rem;
  padding: 0 0 0 .05rem;
  border: 1px solid $color-primary;
  border-radius: 50%;
  background: transparent;
  color: $color-primary;
  font-size: 1rem;
  text-align: center;
  opacity: 0.5;
  transition: ease all 0.3s;

  &:hover {
    text-decoration: none;
    background: $color-primary;
    color: black;
    opacity: 1;
  }
}

.header,
h2 {
  margin: 1rem 0;
  padding: .5rem 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: $color-offwhite;
  background: $color-borders;
  background: linear-gradient(180deg, $color-borders 0%, $color-borders 15%, $color-borders 100%) !important;
  border: 1px solid transparent;
  border-image: linear-gradient(to right, transparent 0%, rgba(82, 165, 248, .5) 50%, transparent 100%);
  border-image-slice: 1;

  &:empty {
    display: none;
  }

  a:hover {
    color: rgba($color-primary, .8);
  }
}


#notice {
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
  padding: .5rem;
  margin-top: .5rem;
  border: 1px solid transparent;
  border-image: linear-gradient(to right, transparent 0%, rgba(82, 165, 248, .5) 50%, transparent 100%);
  border-image-slice: 1;

  .header,
  .footer {
    display: none;
  }

  .maintext {
    text-align: center;
    padding: 0;
    font-size: .9rem;

    a {
      font-weight: normal;

      &.notice_warning {
        color: $color-negative;
      }
    }

    > br {
      &:last-child {
        display: none;
      }
    }
  }
}

.maintext {
  p + p {
    margin-top: .5rem;
  }

  table {
    margin: 0 auto 1rem;

    table {
      background: $color-borders;
    }
  }
}

span.center {
  display: block;
}

.superhighlight {
  color: inherit;
}

.small {
  font-size: $text-small;
}

.container .header:first-child {
  margin-top: .5rem;
}

.tooltip,
.info,
.forum_thread_actions,
#d_stats,
#d_from,
#d_num,
#d_to,
#pabox_outer,
#my_bcalcs,
#add_own,
#add_other,
#fleet_select_box,
#side_select_box,
#con_fleets,
#dships_box {
  background: $color-borders !important;
  color: $color-offwhite !important;
  border: 1px solid rgba($color-primary, .5);
  padding: .25rem .5rem;
  white-space: initial;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .4);
}

//.tooltip {
//  top: auto !important;
//  left: auto !important;
//}

#pabox_inner {
  top: 0 !important;
  left: 0 !important;
  padding: .5rem;

  h2 {
    background: none;
    margin: 0 0 .5rem;
    padding: 0;
    font-size: 1rem;
  }

  th,
  td,
  p {
    color: $color-offwhite;

    b {
      font-weight: normal;
      font-size: $text-small;
    }
  }

  table {
    + table,
    + p {
      margin-top: 1rem;
    }
  }
}


.tooltip a:hover,
.info a:hover,
.forum_thread_actions a:hover {
  color: $color-primary-dark;
}

#tab_links {
  li {
    padding: 0;

    + li {
      margin-left: 1rem;
    }
  }

  .tab_link_active {
    color: lighten($color-borders, 90%);
    cursor: default;

    &:hover {
      background: none;
      text-decoration: none;
      color: lighten($color-borders, 70%);
    }
  }
}

.tab_link {
  padding: .25rem .5rem;

  &:hover {
    color: $color-black;
    background: $color-primary;
    //background: linear-gradient(135deg, $color-primary 0%, $color-primary-dark 100%);
    text-decoration: none;
  }
}

.error {
  color: $color-neutral;
  font-weight: normal;
}

.textvalue {
  font-weight: bold;
}

.resources .textvalue {
  font-weight: normal;
}

#footer {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  display: none;
}