/* Page content
   -------------------------------------------------------*/
#contents {
  grid-column: 2 / 3;
  grid-column-end: 4;
  margin: .5rem 0;
  background: transparent;
  border: none;
  width: auto;
  @include respond-below(sm) {
	grid-row: 3/3;
	grid-column: 2 / 2;
	max-width: calc(100vw - 8.14rem);
  }
}

#contents_header,
#notice .header {
  display: none;
}

#contents_information,
.container {
  padding: 0;
}

#manual_info {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  margin: .5rem;
  padding: 0 0 0 .05rem;
  border: 1px solid $color-primary;
  border-radius: 50%;
  background: transparent;
  color: $color-primary;
  font-size: 1rem;
  text-align: center;
  opacity: 0.5;
  transition: ease all 0.3s;

  &:hover {
	text-decoration: none;
	background: $color-primary;
	color: black;
	opacity: 1;
  }
}

.header,
h2 {
  margin: 1rem 0;
  //padding: .5rem 0;
  font-size: 1rem;
  //letter-spacing: 1px;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: $color-offwhite;
  background: $color-secondary;
  background: linear-gradient(to right, $color-background 0%, $color-secondary 50%, $color-background 100%) !important;
  border: 1px solid transparent;
  border-image: linear-gradient(to right, transparent 0%, rgba($color-primary, .5) 50%, transparent 100%);
  border-image-slice: 1;
  line-height: 100%;

  &.relations_neutral {
	background: linear-gradient(to right, $color-background 0%, $color-secondary 50%, $color-background 100%) !important;
  }

  &.relations_war {
	background: linear-gradient(to right, $color-background 0%, rgba($color-negative, .25) 50%, $color-background 100%) !important;
  }

  &.relations_hostile {
	background: linear-gradient(to right, $color-background 0%, rgba($color-negative, .125) 50%, $color-background 100%) !important;
	outline: none;
  }

  &.relations_nap {
	background: linear-gradient(to right, $color-background 0%, rgba($color-neutral, .25) 50%, $color-background 100%) !important;
  }

  &.relations_friendly {
	background: linear-gradient(to right, $color-background 0%, rgba($color-positive, .15) 50%, $color-background 100%) !important;
	outline: none;
  }

  &.relations_allied {
	background: linear-gradient(to right, $color-background 0%, rgba($color-neutral, .3) 50%, $color-positive 100%) !important;
  }

  &.relations_own_member {
	background: linear-gradient(to right, $color-background 0%, rgba($color-own, .25) 50%, $color-background 100%) !important;
  }

  &:empty {
	display: none;
  }

  a:hover {
	color: rgba($color-primary, .8);
  }

}

#notice {
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, 0) 100%);
  padding: .5rem;
  margin-top: .5rem;
  border: 1px solid transparent;
  border-image: linear-gradient(to right, transparent 0%, rgba(82, 165, 248, .5) 50%, transparent 100%);
  border-image-slice: 1;

  .header,
  .footer {
	display: none;
  }

  .maintext {
	text-align: center;
	padding: 0;
	font-size: $text-default;

	a {
	  font-weight: normal;

	  &.notice_warning {
		color: white;
		opacity: 0.75;
		font-size: $text-small;
	  }
	}

	> br {
	  &:last-child {
		display: none;
	  }
	}
  }
}

.maintext {
  p + p {
	margin-top: .5rem;
  }

  table {
	margin: 0 auto 1rem;
	width: auto;
	min-width: 450px;

	table {
	  background: $color-secondary;
	}
  }
}

span.center {
  display: block;
}

.superhighlight {
  color: inherit;
}

.small {
  font-size: $text-small;
}

.container .header:first-child {
  margin-top: .5rem;
}

.tooltip,
.info,
.forum_thread_actions,
#d_stats,
#d_from,
#d_num,
#d_to,
#pabox_outer,
#my_bcalcs,
#add_own,
#add_other,
#fleet_select_box,
#side_select_box,
#con_fleets,
#dships_box {
  background: $color-background !important;
  color: $color-offwhite !important;
  border: 1px solid rgba($color-primary, .5);
  padding: .25rem .5rem;
  white-space: initial;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .4);
}

#pabox_inner {
  top: 0 !important;
  left: 0 !important;
  padding: .5rem;

  h2 {
	background: none;
	margin: 0 0 .5rem;
	padding: 0;
	font-size: 1rem;
  }

  th,
  td,
  p {
	color: $color-offwhite;

	b {
	  font-weight: normal;
	  font-size: $text-small;
	}
  }

  table {
	+ table,
	+ p {
	  margin-top: 1rem;
	}
  }
}

.tooltip a:hover,
.info a:hover,
.forum_thread_actions a:hover {
  color: $color-primary-dark;
}

#tab_links li {
  padding: 0;

  a {
	margin: 0 .75rem;
  }
}

//#tab_links {
//  li {
//	padding: 0;
//
//	+ li {
//	  margin-left: 1rem;
//	}
//  }
//
//  .tab_link {
//	position: relative;
//	padding: .4rem 1rem;
//	font-size: $text-small;
//	color: $color-primary;
//	letter-spacing: 1px;
//	text-transform: uppercase;
//	&:hover {
//	  color: $color-text;
//	}
//  }
//
//  .tab_link_active {
//	color: lighten($color-primary, 90%);
//	cursor: default;
//
//	&:hover {
//	  background: none;
//	  text-decoration: none;
//	  color: lighten($color-primary, 70%);
//	}
//  }
//}

.error {
  color: $color-neutral;
  font-weight: normal;
}

.textvalue {
  font-weight: bold;
}

.resources .textvalue {
  font-weight: normal;
}

#footer {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  display: none;
}