/* Planet Details
   -------------------------------------------------------*/
#header {
  padding-top: 38px;
  display: flex;
  align-content: space-between;
  flex-flow: row wrap;
  justify-content: space-around;
  background: $color-secondary;
  height: unset;
  border: 1px solid transparent;
  border-image: linear-gradient(to right, transparent 0%, rgba($color-primary, .5) 50%, transparent 100%);
  border-image-slice: 1;
  box-shadow: inset 0 0 8px 2px rgba(#000, .25), 0 0 3px 3px rgba(#000, .15);
  margin: 0;
  position: relative;
  grid-column: 2 / 3;
  @include respond-below(sm) {
	max-width: calc(100vw - 114px);
	grid-row: 1/3;
	grid-column: 2 / 2;
	> * {
	  max-width: 50%;
	  float: left;

	  &#header_planet {
		font-size: .6875rem !important;
		max-width: unset;
	  }
	}
  }

  > div {
	padding: 0 2.25rem;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 50%;
	max-width: 245px;
	margin: 0 0 .5rem;

	&:last-of-type:nth-of-type(even) {
	  padding-top: 4px;
	  align-items: baseline;
	  justify-content: center;
	  width: 100%;
	  max-width: unset;
	  border-top: 1px solid transparent;
	  border-image: linear-gradient(to right, transparent 0%, rgba($color-primary, .5) 50%, transparent 100%);
	  border-image-slice: 1;
	  margin-top: .75rem;

	  span {
		max-width: 33px;
	  }
	}

	&:last-of-type:nth-of-type(odd) {
	  margin-bottom: .75rem;
	}

	span {
	  flex-basis: 50%;
	}
  }

  #header_mail,
  #header_news {
	background: rgba(black, .6);
	max-width: unset;
	//transition: ease background-color .5s;
	position: absolute;
	top: 0;

	&:hover {
	  background: rgba(black, 1);

	  a {
		color: white !important;
	  }
	}

	a {
	  color: $color-offwhite !important;
	  font-size: $text-small;
	  font-weight: bold;
	  text-transform: uppercase;
	  text-align: center;
	  padding: .5rem 0 !important;
	  flex-basis: 100%;
	  transition: ease all .5s;
	}

	#mail_new {
	  color: black !important;
	  background: $color-positive;

	  &:hover {
		background: rgba($color-positive, .8);
	  }
	}

	#news_new {
	  color: black !important;
	  background: $color-neutral;

	  &:hover {
		background: rgba($color-neutral, .8);
	  }
	}
  }

  #header_mail {
	padding: 0;
	border: 1px solid transparent;
	border-image: linear-gradient(to left, rgb(60, 107, 156) 0%, #24313f 100%);
	border-image-slice: 1;
	left: 0;
	order: 1;

	&:hover {
	  border-image: linear-gradient(to left, $color-primary 0%, #24313f 100%);
	  border-image-slice: 1;
	}
  }

  #header_news {
	padding: 0;
	border: 1px solid transparent;
	border-image: linear-gradient(to right, rgb(60, 107, 156) 0%, #24313f 100%);
	border-image-slice: 1;
	right: 0;
	order: 2;

	&:hover {
	  border-image: linear-gradient(to right, $color-primary 0%, #24313f 100%);
	  border-image-slice: 1;
	}
  }

  .textlabel {
	color: #bbb;
	font-size: $text-small;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-left: 0;

	&:after {
	  content: ':';
	}
  }

  .textvalue {
	font-weight: bold;
	text-align: right;
	padding-right: 0;
  }

  #header_planet {
	text-indent: unset;
	padding: 0;
	max-width: unset;
	height: unset;
	position: absolute;
	top: -35px;
	left: -5px;

	span.textlabel {
	  font-size: $text-huge;
	  white-space: nowrap;
	  letter-spacing: 2px;
	  text-shadow: 1px 1px 3px black;
	  flex-basis: 100%;
	  margin-left: 16px;

	  &:after {
		display: none;
	  }
	}

	.ter,
	.cat,
	.xan,
	.zik,
	.etd {
	  font-size: $text-large;
	  font-style: italic;
	  padding-right: 2px;
	}
  }

  #header_metal {
	order: 7;

	.textvalue {
	  &:before {
		background: url(/images/template53/metal_16.png) no-repeat;
	  }
	}
  }

  #header_value {
	order: 6;
  }

  #header_crystal {
	order: 9;

	.textvalue {
	  &:before {
		background: url(/images/template53/crystal_16.png) no-repeat;
	  }
	}
  }

  #header_xp {
	order: 10;
  }

  #header_eonium {
	order: 11;

	.textvalue {
	  &:before {
		background: url(/images/template53/eonium_16.png) no-repeat;
	  }
	}
  }

  #header_score {
	order: 8;
  }

  #header_asteroids {
	order: 5;
  }

  #header_rank {
	order: 12;
  }

  #header_tick {
	order: 3;
  }

  #header_remaining {
	order: 3;
	//text-indent: 5px;
  }

  #header_metal,
  #header_crystal,
  #header_eonium {
	.textvalue {
	  position: relative;

	  &:before {
		content: '';
		display: inline-block;
		width: 16px;
		height: 13px;
		margin-right: .4rem;
		position: absolute;
		top: 40%;
		right: 0;
		transform: translate(150%, -50%);
	  }
	}
  }
}

.ter,
#page_manual .Ter td {
  color: $color-terran;
}

.cat,
#page_manual .Cat td {
  color: $color-cathaar;
}

.xan,
#page_manual .Xan td {
  color: $color-xandathrii;
}

.zik,
#page_manual .Zik td {
  color: $color-zikonian;
}

.etd,
#page_manual .Etd td {
  color: $color-eitraides;
}

.kin,
#page_manual .Kin td {
  color: $color-kinthia;
}

.sly,
#page_manual .Sly td {
  color: $color-slythonian;
}

#planet_summary {
  padding: 30px 0 0;
  display: flex;
  //background: linear-gradient(135deg, var(--col-panel-light) 0%, var(--col-panel-dark) 100%);
  align-items: center;
  flex-flow: column nowrap;
  justify-content: space-around;
  background: $color-secondary;
  height: unset;
  border: 1px solid transparent;
  border-image: linear-gradient(to right, transparent 0%, rgba($color-primary, .5) 50%, transparent 100%);
  border-image-slice: 1;
  box-shadow: inset 0 0 8px 2px rgba(#000, .25), 0 0 3px 3px rgba(#000, .15);
  position: relative;
  grid-column: 3 / 3;
  //overflow: hidden;
  @include respond-below(sm) {
	max-width: calc(100vw - 114px);
	grid-row: 2/3;
	grid-column: 2 / 2;
  }

  &:before {
	color: $color-offwhite;
	font-size: $text-small;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding: .5rem 0;
	content: 'Planetary Development ';
	display: block;
	background: rgba(black, .6);
	width: 100%;
	border-bottom: 1px solid transparent;
	border-image: linear-gradient(to right, transparent 0%, rgba($color-primary, .5) 50%, transparent 100%);
	border-image-slice: 1;
	position: absolute;
	top: 0;
	transition: ease all 0.5s;
  }

  &:hover {
	&:before {
	  background: rgba(black, 1);
	}
  }

  > div {
	width: 350px;
  }

  .textlabel {
	color: #bbb;
	font-size: $text-small;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .5px;
	padding: 0 .5rem 0 0;
	flex-basis: 8rem;
	margin-left: 0;
  }
}

#planet_summary .countdown,
#planet_summary_construction_current,
#planet_summary_research_current,
#planet_summary_production_current,
#planet_summary_construction_complete,
#planet_summary_research_complete {
  padding-right: 0;
}

#planet_summary_header,
#planet_summary_footer {
  display: none;
}

#planet_summary_construction,
#planet_summary_research,
#planet_summary_production {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin: .5rem 0;

  span {
	&#planet_summary_construction_queue,
	&#planet_summary_research_queue {
	  position: relative;

	  span.tooltip {
		white-space: nowrap;
		top: auto !important;
		left: 0 !important;
		transform: translateX(-100%);
	  }
	}
  }
}

#planet_summary_construction_complete,
#planet_summary_research_complete,
.planet_summary_production_orders {
  font-size: $text-small;
  text-align: left;
  padding: 0;
  width: 100%;
  margin: 0 0 0 8rem;
  @include respond-below(sm) {
	text-align: right;
	padding: 0 .25rem 0 0;
	flex: 1;
	margin: 0;
  }
}

.planet_summary_production_orders {
  .planet_summary_production_complete {
	position: relative;
  }

  div.tooltip {
	min-width: 110px;
	position: absolute;
	top: 0 !important;
	right: 0 !important;
	left: unset !important;

	.planet_summary_production_shipname,
	.planet_summary_production_shipcount {
	  width: unset;
	}

	.planet_summary_production_shipname {
	  padding-right: .5rem;
	  float: left !important;
	}

	.planet_summary_production_shipcount {
	  float: right !important;
	}

	br {
	  content: ' ';
	  display: block;
	  height: 1rem;
	  margin-bottom: .25rem;

	  &:last-of-type {
		margin-bottom: 0;
	  }
	}
  }
}

.planet_summary_production_shipname {
  font-size: $text-small;
  display: inline-block;
  width: 6rem;
}

.planet_summary_production_shipcount {
  font-size: $text-small;
  text-align: right;
  display: inline-block;
  width: 3.5rem;
}