/* Planet Details
   -------------------------------------------------------*/
#header {
  grid-column: 2 / 3;
  padding-top: 0;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  background: $color-borders;
  margin: 0;
  height: unset;
  border: 1px solid transparent;
  border-image: linear-gradient(to right, transparent 0%, rgba($color-primary, .5) 50%, transparent 100%);
  border-image-slice: 1;
  @include respond-below(sm) {
	grid-row: 1/3;
	grid-column: 2 / 2;
	max-width: calc(100vw - 114px);
	> * {
	  max-width: 50%;
	  float: left;

	  &#header_planet {
		max-width: unset;
		font-size: .6875rem !important;
	  }
	}
  }

  > div {
	width: 50%;
	padding: 0 .5rem;
	display: flex;
	justify-content: space-between;
	margin: 0 0 .5rem;
  }

  #header_mail,
  #header_news {
	background: black;
	position: relative;
	transition: ease all .3s;

	&:hover {
	  background: $color-primary;

	  a {
		color: black !important;
	  }
	}

	a {
	  flex-basis: 100%;
	  text-align: center;
	  font-size: $text-small;
	  text-transform: uppercase;
	  font-weight: bold;
	  padding: .5rem 0 !important;
	  color: $color-offwhite !important;
	  transition: ease all .5s;
	}

	#mail_new {
	  background: rgba($color-xandathrii, .6);
	  //color: black !important;
	  &:hover {
		background: $color-xandathrii;

		span.tooltip {
		  background: $color-xandathrii !important;
		}
	  }

	  span.tooltip {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: block !important;
		border: 0;
		background: rgba($color-xandathrii, .6) !important;
		box-shadow: none;
		color: black !important;
		text-transform: uppercase !important;
		font-weight: bold !important;
	  }

	  a {
		//color: black !important;
	  }
	}

	#news_new {
	  background: rgba($color-eitraides, .6);
	  //color: black !important;
	  &:hover {
		background: $color-eitraides;

		span.tooltip {
		  background: $color-eitraides !important;
		}
	  }

	  span.tooltip {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: block !important;
		border: 0;
		background: rgba($color-eitraides, .6) !important;
		box-shadow: none;
		color: black !important;
		text-transform: uppercase !important;
		font-weight: bold !important;
	  }

	  a {
		//color: black !important;
	  }
	}
  }

  #header_mail {
	padding: 0;
	order: 1;
	border: 1px solid transparent;
	border-image: linear-gradient(to right, #264b45 0%, rgb(58, 101, 147) 100%);
	border-image-slice: 1;
  }

  #header_news {
	padding: 0;
	order: 2;
	border: 1px solid transparent;
	border-image: linear-gradient(to right, rgb(58, 101, 147) 0%, #513f67 100%);
	border-image-slice: 1;
	border-left: none;
  }


  span {
	flex-basis: 50%;
  }

  .textlabel {
	margin-left: 0;
  }

  .textvalue {
	font-weight: bold;
	text-align: right;
	padding-right: 0;
  }

  #header_planet {
	position: absolute;
	top: .65rem;
	left: 0;
	font-size: 1.5rem;
	flex-basis: 100%;
	flex-shrink: 0;
	color: $color-offwhite;
	font-size: 1.4rem;
	letter-spacing: 1px;

	span {
	  flex-basis: 100%;
	}

	.ter,
	.cat,
	.xan,
	.zik,
	.etd {
	  font-style: italic;
	  font-size: 1rem;
	  padding-right: 3px;
	}

	//.ter {
	//  padding-right: 3px;
	//}
	//
	//.cat {
	//  padding-right: 3px;
	//}
	//
	//.xan {
	//  padding-right: 3px;
	//}
	//
	//.zik {
	//  padding-right: 3px;
	//}
	//
	//.etd {
	//  padding-right: 2px;
	//}
  }


  #header_metal {
	order: 5;
  }

  #header_value {
	order: 6;
  }

  #header_crystal {
	order: 7;
  }

  #header_xp {
	order: 8;
  }

  #header_eonium {
	order: 9;
  }

  #header_score {
	order: 10;
  }

  #header_asteroids {
	order: 11;
  }

  #header_rank {
	order: 12;
  }


  #header_tick {
	//width: 100%;
	order: 3;

	span {
	  flex-basis: 25%;
	}

	//.textlabel {
	//  margin-left: calc(50% + .5rem);
	//}
  }

  #header_remaining {
	order: 3;
  }

}


.ter,
#page_manual .Ter td {
  color: $color-terran;
}

.cat,
#page_manual .Cat td {
  color: $color-cathaar;
}

.xan,
#page_manual .Xan td {
  color: $color-xandathrii;
}

.zik,
#page_manual .Zik td {
  color: $color-zikonian;
}

.etd,
#page_manual .Etd td {
  color: $color-eitraides;
}


#planet_summary {
  grid-column: 3 / 3;
  background: $color-borders;
  //background: linear-gradient(135deg, var(--col-panel-light) 0%, var(--col-panel-dark) 100%);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: unset;
  border: 1px solid transparent;
  border-image: linear-gradient(to right, transparent 0%, rgba($color-primary, .5) 50%, transparent 100%);
  border-image-slice: 1;
  padding: 0;
  @include respond-below(sm) {
	grid-row: 2/3;
	grid-column: 2 / 2;
	max-width: calc(100vw - 114px);
  }

  &:before {
	display: block;
	content: 'Planetary Development ';
	width: calc(100% - 1rem);
	padding: .5rem .5rem .6125rem;
	font-size: $text-small;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	color: $color-offwhite;
	background: black;
	border-bottom: 1px solid transparent;
	border-image: linear-gradient(to right, transparent 0%, rgba($color-primary, .5) 50%, transparent 100%);
	border-image-slice: 1;
  }

  .textlabel {
	padding: 0 .5rem;
	flex-basis: 8rem;
  }
}

#planet_summary_header,
#planet_summary_footer {
  display: none;
}

#planet_summary_construction,
#planet_summary_research,
#planet_summary_production {
  margin: .5rem 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
}

#planet_summary_construction_complete,
#planet_summary_research_complete,
.planet_summary_production_orders {
  margin: 0 .5rem 0 8rem;
  padding: 0;
  text-align: left;
  width: 100%;
  font-size: $text-small;
  @include respond-below(sm) {
	margin: 0;
	padding: 0 .25rem 0 0;
	text-align: right;
	flex: 1;
  }
}


.planet_summary_production_shipname {
  display: inline-block;
  font-size: $text-small;
  width: 6rem;
}

.planet_summary_production_shipcount {
  display: inline-block;
  font-size: $text-small;
  width: 3.5rem;
  text-align: right;
}

