/* POPULATION
   -------------------------------------------------------*/
.slider_track {
  .slider_slider {
	background: rgb(26, 34, 44);
	height: 4px;
	line-height: 0;
	margin: 7px 4px 7px 4px;
	position: absolute;
	width: 110px;
	z-index: 1;
	border: 1px solid rgba(#000, .5);
	background: rgba($color-primary, .18);
	box-shadow: -1px 1px 5px 0px #000, 0px 0px 1px 1px $color-primary;
  }

  /*! */

  .population_slider {
	background: $color-primary;
	background: linear-gradient(135deg, $color-primary 25%, $color-secondary 100%);
	height: 1.25rem;
	width: 0.6rem;
	margin-left: 5px;
	border-top: 1px solid rgba(80, 164, 246, 0.21);
	border-left: 1px solid rgba(80, 164, 246, 0.21);
	border-bottom: 1px solid rgba(black, .85);
	border-right: 1px solid rgba(black, .8);
	box-shadow: inset 0px -1px 2px 1px rgba(#000, .5), 0px 0px 3px 2px rgba(#000, .3);
	border-radius: 6px;

	&:active {
	  background: linear-gradient(135deg, #598aad 0%, #000 100%);
	}
  }
}

.population_display {
  font-weight: bold;
  color: $color-text;
}

#population {
  table {
	width: auto;
	margin: 0 auto;

	th,
	td {
	  &:first-child {
		text-align: left;
		padding: .25rem .5rem;
	  }
	}

	td {
	  &:last-child {
		text-align: center;
	  }
	}

	tr {
	  &:nth-child(7) th {
		text-align: right;
		padding: .25rem 1rem;
		font-weight: normal;
	  }

	  &:last-child {
		td {
		  text-align: center;
		}
	  }
	}

	#total {
	  padding: 0 !important;
	  min-width: 2rem;
	}

	#max_total {
	  font-weight: bold;
	}
  }
}

#page_population {
  .container {
	&:nth-child(4) {
	  .header {
		&:empty {
		  display: block;
		}

		&:before {
		  content: 'Output changes';
		  display: block;
		}
	  }

	  table {
		th,
		td {
		  padding: .25rem .5rem;
		}
	  }
	}

	table {
	  margin: 0 auto;
	  min-width: unset;

	  tr {
		th {
		  input {
			&#total {
			  background: transparent;
			  height: unset;
			  border: none;
			  box-shadow: none;
			}
		  }
		}

		td {
		  background: $color-secondary;

		  &[colspan="4"] {
			background: transparent !important;
		  }

		  input {
			&[type="number"] {
			  border: 1px solid rgba($color-primary, .5);
			  transition: ease all .5s;
			  padding: 0 !important;
			  text-align: center;

			  &:focus {
				border: 1px solid $color-primary;
			  }
			}
		  }
		}

		&:nth-child(even) {
		  td {
			background: $color-secondary-alt;
		  }
		}
	  }
	}
  }

  .government_effects {
	width: 50%;
	margin: 0 auto;

	li {
	  display: flex;

	  span {
		display: inline-block;
		padding: .15rem 1rem;
		flex-basis: 50%;
	  }
	}

	.textlabel {
	  text-align: right;
	}

	.textvalue {
	  text-align: left;
	  font-weight: bold;
	}
  }

  #tab1 {
	input[type="submit"] {
	  margin: 1rem auto;
	}
  }

  #tab2 .container:nth-child(2) .header {
	display: none;
  }
}

.governments {
  border: none;

  p {
	margin-left: .5rem;
  }
}