/* PRODUCTION
   -------------------------------------------------------*/
#page_production {
  #notice {
    + .container {
      .header {
        display: none;
      }

      table {
        width: auto;
        margin: 0 auto;
      }

      td {
        font-weight: bold;
      }

      a {
        display: inline-block;
        padding: 0.25rem 1rem;

        &:hover {
          color: var(--col-text-main);
          background: $color-primary;
          background: linear-gradient(135deg, $color-primary 0%, $color-primary-dark 100%);
          text-decoration: none;
        }
      }
    }
  }
}


#production_form {
  th,
  td {
    padding-left: 0;
    font-size: var(--txt-small);

    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      width: 2rem;
      text-align: center;
    }

    &:nth-child(9) {
      text-align: right;
    }
  }

  td:nth-child(1) {
    font-size: 1rem;
  }
}


span.small.notice_warning {
  font-size: var(--txt-small) !important;
  font-style: italic;
  padding-left: 0.5rem;
  color: var(--col-alert-light);
}

#ship_cost {
  margin: 1rem 0;
}

#production_factories_row {
  td {
    font-size: var(--txt-small) !important;

    .textlabel {
      font-size: var(--txt-small);
      font-weight: bold;
      padding-bottom: 0.5rem;
    }
  }
}

#d_stats {
  table {
    &:first-child {
      tr {
        &:first-child th {
          border-bottom: 1px solid $color-black-light;
          padding-bottom: 0.25rem;
        }

        &:nth-child(2) {
          th,
          td {
            padding-top: 0.25rem;
          }
        }

        &:nth-child(6) th {
          padding-top: 0.5rem;
        }
      }

      th,
      td {
        color: var(--col-text-main);
        font-size: var(--txt-small);
      }
    }

    & + table {
      margin-top: 0.5rem;

      th:first-child {
        width: 45%;
      }
    }
  }
}

.production_orders .resources {
  margin: 1rem 0;
}