/* RESEARCH, CONSTRUCTION & WAVES
   -------------------------------------------------------*/
.research {
  border: 0;
  text-align: center;
}

.branch_name h3,
.construction_info .title,
.scans .title,
.governments .title {
  display: block;
  padding: .25rem .5rem;
  margin-bottom: .5rem;
  background: $color-borders;
  //background: linear-gradient(135deg, var(--col-panel-light) 0%, var(--col-panel-dark) 100%);
  font-size: 1.3rem;
  text-shadow: 1px 1px 0px #000000;
}

.research,
.research_branch {
  .title {
	display: inline-block;
	font-size: 1rem;
	margin-bottom: .25rem;
	color: $color-primary;
  }
}

.construction_info,
.scans,
.research {
  p {
	position: relative;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	font-size: 1rem;

	.desc_link {
	  display: inline-block;
	  position: absolute;
	  top: 3px;
	  right: 2rem;
	  font-size: $text-small;
	}
  }
}

.research,
.construction_info {
  p {
	padding-left: 0;
	padding-right: 15rem;
	text-align: left;
  }
}

.scans p {
  padding-left: .5rem;
}


.constructions {
  display: flex;
  flex-wrap: wrap;
  border: none;
  margin-bottom: 0;

  .construction_info {
	flex-basis: 100%;
	display: flex;
	flex-wrap: wrap;

	.title,
	.description {
	  flex-basis: 100%;
	}

	.resources {
	  flex-basis: 33%;
	  font-size: $text-small;

	  + p {
		flex-basis: 66%;
		display: flex;
		font-size: $text-small;
	  }
	}

	p {
	  .time,
	  .cu {
		flex-basis: 50%;
	  }
	}

	p,
	.resources {
	  padding-left: .5rem;
	}
  }

  .construction_built {
	flex-basis: 33%;
	text-align: left;
	padding: 1rem .5rem;

	.textvalue {
	  font-weight: bold;
	}

	.progress_wrapper {
	  margin: .5rem 0;

	  .progress_expected {
		background-image: none;
		background-color: $color-progress-expected;
		height: 1.5rem;
		margin-top: -1.5rem;
	  }

	  + p {
		text-align: left;
		font-size: $text-small;
	  }
	}
  }

  .construction_build {
	flex-basis: 66%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem .5rem;
	flex-wrap: wrap;

	.resources {
	  margin-bottom: 0;
	  text-align: right;
	  order: 40;
	  width: 67%;

	  &:first-of-type {
		order: 20;
	  }

	  li {
		display: inline-block;

		//&.textlabel {
		//  width: 100%;
		//}
	  }
	}

	form {
	  width: 33%;
	  display: flex;
	  align-items: center;
	  justify-content: flex-end;
	  order: 10;

	  &:nth-child(4) {
		order: 30;
	  }

	  &.queueform {
		order: 30;
	  }

	  input {
		&[type="checkbox"] {
		  margin-right: .5rem;
		}

		&[type="submit"] {
		  min-width: 110px;
		}
	  }

	  p {
		text-align: right;
		padding: 0;
		display: flex;
		align-items: center;
	  }
	}
  }
}

.research {

  .branch_name {
	h3 {
	  text-align: left;
	}
  }

  .research_current,
  .research_next {
	text-align: left;
	padding-left: .5rem !important;

	.time,
	.rp {
	  font-size: $text-small;
	}
  }

  .research_next {
	font-style: italic;

	&[id] {
	  position: relative;
	  font-style: normal;
	  border-top: 1px solid rgba($color-primary, .5);
	  margin: .5rem auto 0;
	  padding: 1rem 0 0;
	  display: flex;
	  flex-direction: column;


	  .title {
		order: 1;
	  }

	  .progress_wrapper {
		margin: 10px 0 0;
		order: 3;
	  }


	  p {

		&:not(.center) {
		  padding: 0;
		}

		&:first-of-type {
		  order: 2;
		}

		&.research_queue {
		  order: 5;
		}

		&:last-of-type {
		  order: 6;
		  padding-bottom: 10px;
		}
	  }

	  form {
		&.cancelform {
		  order: 4;

		  input[type="submit"] {
			margin-top: 0;
		  }
		}

		&.queueform,
		&.cancelqueueform {
		  order: 7;
		}

		input[type="submit"] {
		  width: 200px;
		}
	  }

	  .researchform p {
		padding-right: 0;
		margin-right: 2rem;
	  }
	}

  }


  .research_branch {
	margin-left: 1.5rem;

	.completed {
	  .title {
		position: relative;
		background: none;
		margin: 0 auto;

		&:after {
		  content: '\2714';
		  color: $color-primary;
		  position: absolute;
		  top: 0;
		  right: 0;
		}
	  }
	}
  }

  .researchform {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	order: 7;
  }
}

.research_branch_list {
  padding: .25rem .5rem;
  background: $color-borders;
  border: 0;
  margin: .25rem auto;
  text-align: center;
  font-style: normal;

  p {
	position: relative;
	text-align: center !important;
	width: 100%;
  }
}

.scans {
  border: 0;

  .resources {
	font-size: $text-small;
	margin-top: 1rem;
	padding-left: .5rem;
  }

  .scan_form {
	padding-right: 2rem;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	margin-top: -2.25rem;

	input[type="submit"] {
	  margin: 0 0 0 1rem !important;
	}
  }
}


.scan_time {
  font-size: $text-small;
  text-align: center;
}

#scan {
  table {

	+ p {
	  margin-top: 1rem;
	}
  }
}

#waves,
#search_scans,
#stored_scans {
  form {
	display: table;
	margin: 0 auto;
  }
}

#search_scans {
  input[type="submit"] {
	margin-top: .25rem;
  }
}