/* RESEARCH, CONSTRUCTION & WAVES
   -------------------------------------------------------*/

.branch_name h3,
.construction_info .title,
.scans .title,
.governments .title {
  display: block;
  padding: .25rem .5rem;
  margin-bottom: .5rem;
  background: $color-secondary;
  //background: linear-gradient(135deg, var(--col-panel-light) 0%, var(--col-panel-dark) 100%);
  font-size: 1.3rem;
  text-shadow: 1px 1px 0px #000;
}

.research,
.research_branch {
  .title {
	display: inline-block;
	font-size: 1rem;
	margin-bottom: .25rem;
	color: $color-primary;
  }
}

.construction_info,
.scans {
  p {
	position: relative;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	font-size: 1rem;

	.desc_link {
	  display: inline-block;
	  position: absolute;
	  top: -30px;
	  right: 150px;
	  font-size: $text-small;
	}
  }
}

.research,
.construction_info {
  p {
	padding-left: 0;
	padding-right: 15rem;
	text-align: left;
  }
}

.scans p {
  padding-left: .5rem;
}

.constructions {
  display: flex;
  flex-wrap: wrap;
  border: none;
  position: relative;
  width: 90%;
  max-width: 600px;
  margin: 0 auto 3rem;
  border: 1px solid transparent;
  border-image: linear-gradient(to right, transparent 0%, rgba($color-primary, .5) 50%, transparent 100%);
  border-image-slice: 1;
  box-shadow: inset 0 0 8px 2px rgba(0, 0, 0, 0.25), 0 0 3px 3px rgba(0, 0, 0, 0.15);
  background: $color-secondary;

  &:first-of-type {
	margin-top: 1rem;
  }

  .construction_info {
	flex-basis: 100%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	order: 1;

	.title,
	.description {
	  flex-basis: 100%;
	}

	.description {
	  padding: 1rem 2rem;

	  a.desc_link {
		top: -41px;
		right: 50%;
		transform: translate(50%, 100%);
	  }
	}

	.title {
	  background: $color-bg-th;
	  margin-bottom: 0;
	  padding: .5rem 2rem;
	}

	.resources {
	  flex-basis: 33%;
	  font-size: $text-small;
	  position: absolute;
	  right: 2rem;
	  top: .9rem;

	  + p {
		width: 100%;
		display: flex;
		font-size: $text-small;
		padding: 1rem 50% 1rem 2rem;
		background: $color-secondary-alt;
	  }
	}

	p {
	  .time,
	  .cu {
		flex-basis: 50%;
	  }

	  .cu {
		text-align: right;
	  }
	}

	p,
	.resources {
	  padding-left: .5rem;
	}
  }

  .construction_built {
	padding: 0 2rem;
	margin-top: -2.1rem;
	font-size: 1rem;
	width: 206px;
	text-align: right;
	z-index: 10;
	order: 3;

	.textvalue {
	  font-weight: bold;
	}

	.progress_wrapper {
	  margin: 1.8rem 0 1rem;

	  + p {
		font-size: $text-default;
		line-height: $text-default;
		text-align: left;
		padding: 0 0 1rem;
	  }
	}

	br {
	  content: " ";
	  margin-top: .5rem;
	  display: block;
	}
  }

  .construction_build {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	width: calc(100% - 206px) !important;
	order: 2;
	padding-left: 2rem;

	> * {
	  &:first-child {
		padding-top: .5rem !important;
	  }
	}

	.resources {
	  padding: .5rem 0;
	  margin-bottom: 0;
	  text-align: left;
	  width: 100%;
	  order: 1;
	  display: flex;
	  flex-wrap: wrap;

	  &:nth-child(3) {
		order: 3;
		border-top: 1px solid rgba($color-primary, .5);
		margin-top: .75rem;
		padding-top: 1rem;
	  }

	  li {
		display: inline-block;
		margin: 0 2rem 0 0;

		&:nth-child(1) {
		  width: 100%;
		}
	  }
	}

	form {
	  width: 100%;
	  display: flex;
	  align-items: center;
	  justify-content: flex-start;
	  margin-bottom: .5rem;
	  order: 2;

	  &:nth-child(1) {
		order: 4;
	  }

	  &:nth-child(4) {
		order: 4;
		margin-bottom: 1rem;
	  }

	  input {
		&[type="checkbox"] {
		  margin: 0 0 0 .5rem;
		  width: 1.5rem;
		  height: 1.5rem;

		  &:focus {
			border: 1px solid rgba($color-negative, .5);
		  }

		  &:before {
			display: block;
			content: '\2718';
			font-weight: bold;
			color: rgba($color-negative, .8);
			font-size: 1.5rem;
			position: absolute;
			top: -0.3125rem;
			left: 0.1875rem;
		  }

		  &:checked {
			&:focus {
			  border: 1px solid rgba($color-positive, .5);
			}

			&:before {
			  content: '\2714';
			  color: $color-positive;
			  left: 0.0625rem;
			}
		  }
		}

		&[type="submit"] {
		  min-width: 110px;
		  margin: 0 0 .5rem !important;

		  &:hover {
			background: $color-negative;
		  }

		  &.con_btn {
			margin: 0 !important;
		  }
		}
	  }

	  p {
		text-align: left;
		padding: 0;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
	  }
	}
  }
}

#research {
  > .maintext {
	> p {
	  margin-bottom: 1rem;
	}
  }
}

.research {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 90%;
  max-width: 450px;
  margin: 0 auto 3rem;
  border: 1px solid transparent;
  border-image: linear-gradient(to right, transparent 0%, rgba($color-primary, .5) 50%, transparent 100%);
  border-image-slice: 1;
  box-shadow: inset 0 0 8px 2px rgba(black, .25), 0 2px 10px 2px rgba(black, .15);
  background: $color-secondary;

  .superhighlight {
	font-size: $text-large;
  }

  p {
	padding-right: 0;
	text-align: center;

	.desc_link {
	  position: relative;
	  top: unset;
	  right: unset;
	  clear: both;
	  display: block;
	  margin-top: .5rem;
	}
  }

  .branch_name {
	width: 100%;

	h3 {
	  background: $color-bg-th;
	  padding: .5rem 2rem;
	  text-align: center;
	  margin: 0;
	}
  }

  .research_current,
  .research_next {
	text-align: center;
	padding: 1rem 2rem;
	width: 100% !important;

	.time,
	.rp {
	  font-size: $text-small;
	}
  }

  .research_next {
	font-style: italic;
	border-top: 1px solid rgba(82, 165, 248, 0.5);

	&[id] {
	  position: relative;
	  font-style: normal;
	  display: flex;
	  flex-direction: column;

	  .title {
		order: 1;
		text-align: center;
	  }

	  .progress_wrapper {
		margin: 0 auto;
		order: 3;
	  }

	  p {

		&:not(.center) {
		  padding: 0;
		}

		&:first-of-type {
		  order: 2;
		  text-align: center;
		}

		&.research_queue {
		  order: 5;
		}

		&:last-of-type {
		  order: 6;
		  padding-bottom: 10px;
		  text-align: center;
		}
	  }

	  form {
		&.cancelform {
		  order: 4;

		  input[type="submit"] {
			margin-top: 0;
		  }

		  + p.research_queue {
			border-top: 1px solid rgba($color-primary, .5);
			margin-top: 1rem;
			padding-top: 1.5rem !important;
		  }
		}

		&.queueform,
		&.cancelqueueform {
		  order: 7;
		}

		input[type="submit"] {
		  width: 200px;
		  margin: 0 !important;
		}

		p {
		  input[type="submit"] {
			&:first-child {
			  margin-top: .5rem !important;
			}
		  }
		}
	  }

	  .researchform p {
		padding-right: 0;
		margin-right: 2rem;
	  }
	}

  }

  .researchform {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	order: 7;
  }
}

.research_branch {
  max-width: 375px;
  margin: -2rem auto 3rem;

  .completed {
	.title {
	  position: relative;
	  background: none;
	  margin: 0 auto;
	  background: $color-bg-th;
	  padding: .5rem 2rem;
	  color: $color-text;

	  &:after {
		content: '\2714';
		color: $color-primary;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(-50%, -50%);
	  }
	}
  }
}

.research_branch_list {
  padding: 0;
  background: $color-secondary;
  border: 0;
  margin: 0 auto 1rem;
  text-align: center;
  font-style: normal;

  &:last-child {
	margin-bottom: 0;
  }

  p {
	position: relative;
	text-align: center !important;
	width: 100%;
	padding: .5rem 2rem;

	a.desc_link {
	  display: block;
	  font-size: $text-medium;
	}
  }
}

.scans {
  border: 0;

  .resources {
	font-size: $text-small;
	margin-top: 1rem;
	padding-left: .5rem;
  }

  .scan_form {
	padding-right: 2rem;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	margin-top: -2.25rem;

	input[type="submit"] {
	  margin: 1rem 0 0 !important;
	}
  }
}

#page_waves {
  table {
	tr {
	  td {
		background: $color-secondary;

		&[colspan="5"] {
		  background: transparent;
		}
	  }

	  &:nth-child(even) {
		td {
		  background: $color-secondary-alt;
		}
	  }
	}
  }

  #show_scan {
	table {
	  width: auto;
	  min-width: unset;

	  tr {
		th,
		td {
		  padding: .25rem 1rem !important;

		  &:empty {
			display: none;
		  }
		}

		td {

		  &[colspan="2"] {
			background: $color-background;
			font-size: $text-large;
			padding: 1rem 0;
			font-weight: bold;
			color: white;
			font-style: italic;
		  }
		}
	  }
	}
  }

  #tab1 {
	.maintext {

	  .scans {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		border: none;
		position: relative;
		width: 90%;
		max-width: 450px;
		margin: 0 auto 3rem;
		border: 1px solid transparent;
		border-image: linear-gradient(to right, transparent 0%, rgba($color-primary, .5) 50%, transparent 100%);
		border-image-slice: 1;
		box-shadow: inset 0 0 8px 2px rgba(0, 0, 0, 0.25), 0 0 3px 3px rgba(0, 0, 0, 0.15);
		background: $color-secondary-alt;

		.scan_info {
		  width: 100% !important;

		  .title {
			background: $color-bg-th;
			margin-bottom: 0;
			padding: .5rem 2rem;
		  }

		  p {
			background: $color-secondary;
			padding: 1rem 2rem;
			text-align: center;
			box-shadow: inset 0 0 8px 2px rgba(black, .25);
			border-bottom: 1px solid rgba(black, .25);

			.desc_link {
			  display: block;
			  right: unset;
			  position: relative;
			  top: unset;
			  left: unset;
			  margin-top: .5rem;
			}
		  }

		  .resources {
			position: absolute;
			top: 0;
			right: 2rem;
		  }
		}

		.scan_action {
		  padding-top: 1rem;

		  .scan_multi {
			position: absolute;
			right: 1rem;
			bottom: 1rem;
		  }

		  .scan_fund {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 2rem;

			input {
			  &[type="checkbox"] {
				margin: 0 .5rem 0 0;
			  }

			  &[type="submit"] {
				margin-top: .5rem !important;
			  }
			}

			.textlabel {
			  font-size: $text-small;
			}
		  }

		}
	  }

	  > form {
		input[type="checkbox"] {
		  margin-right: .5rem;
		}
	  }

	  form {
		&:not(#stored_scans_form) {
		  table {
			tr {
			  &:last-child,
			  &:not(:first-child) {
				td {
				  background: transparent;
				}
			  }
			}
		  }
		}

		&#stored_scans_form {
		  p.right {
			span.superhighlight + input[type="checkbox"] {
			  margin: 0 0 0 .5rem;

			  + br {
				content: "";
				display: block;
				margin: .5rem;
			  }
			}
		  }
		}
	  }
	}
  }

  #tab3 {
	.container {
	  &:nth-child(2) {
		th,
		td {
		  &:first-child {
			display: none;
		  }
		}
	  }
	}

	th,
	td {
	  &:nth-child(5) {
		background: transparent;
	  }
	}

	form {
	  p {
		line-height: 1.75;
	  }

	  input[value=" Request Scan "] {
		margin-top: .5rem;
	  }
	}
  }
}

#stored_scans_form {
  input[type="submit"] {
	margin: 0 0 0 1rem !important;
  }
}

.scan_time {
  font-size: $text-small;
  text-align: center;
}

#scan {
  table {

	+ p {
	  margin-top: 1rem;
	}
  }
}

#waves,
#search_scans,
#stored_scans {
  form {
	display: table;
	margin: 0 auto;
  }
}

#waves {
  p {
	text-align: center;
  }
}

#search_scans {
  input[type="submit"] {
	margin-top: .25rem;
  }
}