
#page_research {
  .research {
	.branch_name {
	}

	.research_current {
	}

	.research_next {
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	  justify-content: flex-start;

	  .title {
		width: 100%;
		order: 1;
	  }

	  .progress_wrapper {
		width: 200px;
		margin: 12px 0 12px 0;
		order: 3;

		+ p {
		  font-size: 13px;
		  text-align: left;
		  padding-bottom: 0;
		  display: flex;
		  align-items: center;
		  order: 4;
		}
	  }

	  form {
		&.cancelform {
		}

		p {
		  padding: 0;
		  margin: 0;
		}
	  }
	}
  }
}