
#page_research {
  .research {
	.branch_name {
	}

	.research_current {
	}

	.research_next {
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;

	  .title {
		width: 100%;
		order: 1;
	  }

	  .progress_wrapper {
		order: 3;

		+ p {
		  font-size: 13px;
		  order: 4;
		}
	  }

	  form {
		&.cancelform {
		}

		p {
		  padding: 0;
		  margin: 0;
		}
	  }
	}
  }
}