#page_scan {
  div#full_page {
	display: table;
	max-width: 900px;

	.maintext {
	  > table {
		width: auto;
		min-width: 200px;

		> tbody {
		  > tr {
			background: $color-secondary;

			&:first-child {
			  //background: transparent;

			  th {
				//padding: .5rem .125rem;
				//background: $color-bg-th;
				text-align: center;
			  }

			  > td {
				&[colspan="2"] {
				  background: $color-background;
				  font-size: $text-large;
				  padding: 1rem 0;
				  font-weight: bold;
				  color: white;
				  font-style: italic;
				}
			  }
			}

			> th,
			> td {
			  vertical-align: middle;
			}

			> td {
			  padding: .25rem .75rem;

			  &:first-child {
				&:not([colspan="2"]):not(:nth-last-child(3)) {
				  text-align: right;
				}

				a {
				  padding-right: .5rem;
				  width: 45px;
				}

				span {
				  font-size: 1rem;
				  text-transform: uppercase;
				  padding: 0 .125rem;
				  width: 35px;
				  text-align: center;
				  display: inline-block;
				}
			  }
			}

			&:nth-child(even) {
			  background: $color-secondary-alt;
			}

			table {
			  background: transparent;

			  tr {
				&:nth-child(odd) {
				  th,
				  td {
					background: rgba(0, 0, 0, .02);
				  }
				}

				&:nth-child(even) {
				  th,
				  td {
					background: rgba(0, 0, 0, 0.1);
				  }
				}

				th,
				td {
				  &:empty {
					background: $color-background;
				  }
				}
			  }
			}
		  }
		}
	  }

	  p {
		span[id^="bcalc_target"] {
		  padding-top: 1rem;
		  display: block;

		  &:empty {
			padding: 0;
		  }
		}
	  }
	}
  }
}