#page_scan {
  #side_select_box {
	top: 50% !important;
	left: 50% !important;
  }

  div#full_page {
	display: table;
	max-width: 900px;

	.maintext {
	  > table {
		width: auto;
		min-width: 200px;

		> tbody {
		  > tr {
			background: $color-secondary;

			&:first-child {
			  //background: transparent;
			  th {
				//padding: 7px .125rem;
				//background: $color-bg-th;
				text-align: center;
			  }

			  > td {
				&[colspan='2'] {
				  color: white;
				  font-size: $text-large;
				  font-weight: bold;
				  font-style: italic;
				  padding: 14px 0;
				  background: $color-background;
				}
			  }
			}

			> th,
			> td {
			  vertical-align: middle;
			}

			> td {
			  padding: 3.5px 10.5px;

			  &:first-child {
				&:not([colspan='2']):not(:nth-last-child(3)) {
				  text-align: right;
				}

				a {
				  text-align: center;
				  width: 4rem;
				  margin-right: 7px;
				}

				span {
				  font-size: 14px;
				  text-transform: uppercase;
				  text-align: center;
				  padding: 0 .125rem;
				  display: inline-block;
				  width: 35px;
				}
			  }
			}

			&:nth-child(even) {
			  background: $color-secondary-alt;
			}

			table {
			  background: transparent;

			  tr {
				&:nth-child(odd) {
				  th,
				  td {
					background: rgba(#000, .02);
				  }
				}

				&:nth-child(even) {
				  th,
				  td {
					background: rgba(#000, .1);
				  }
				}

				th,
				td {
				  &:empty {
					background: $color-background;
				  }
				}
			  }
			}
		  }
		}
	  }

	  p {
		span[id^='bcalc_target'] {
		  padding-top: 14px;
		  display: block;

		  &:empty {
			padding: 0;
		  }
		}
	  }
	}
  }
}