table {
  margin-bottom: 1rem;

  th {
	background: $color-bg-th;
  }

  tr:first-child th {
	font-weight: bold;
  }

  th,
  td {
	vertical-align: middle;
	padding: .25rem .5rem;
  }
}

[id^="form_prod"] {
  table {
	min-width: 350px;
  }
}
