#page_universe {

  .maintext {
	padding: 0;
  }

  #contents {
	.container {

	  &:nth-last-child(2),
	  &:nth-last-child(3) {
		table {
		  tr {
			background-color: $color-secondary;

			&.relations_war {
			  background: rgba($color-negative, .25);
			}

			&.relations_hostile {
			  background: rgba($color-negative, .125);
			  outline: none;
			}

			&.relations_neutral {
			  background-color: $color-secondary;
			}

			&.relations_nap {
			  background: rgba($color-neutral, .2);
			}

			&.relations_friendly {
			  background: rgba($color-positive, .15);
			  outline: none;
			}

			&.relations_allied {
			  background: rgba($color-positive, .35);
			}

			&.relations_own_member {
			  background: rgba($color-own, .25);
			}

			th,
			td {
			  width: auto !important;

			  &:nth-child(1) {
				flex: 2;
			  }

			  &:nth-child(2) {
				flex: 3;
				@include respond-below(sm) {
				  display: none;
				}
			  }

			  &:nth-child(3) {
				flex: 3;
			  }

			  &:nth-child(4) {
				flex: 7;
				@include respond-below(sm) {
				  display: none;
				}
			  }

			  &:nth-child(5) {
				flex: 6;
				@include respond-below(sm) {
				  display: none;
				}
			  }

			  &:nth-child(6) {
				flex: 2;
			  }

			  &:nth-child(7) {
				flex: 3;
			  }

			  &:nth-child(8) {
				flex: 3;
			  }

			  &:nth-child(9) {
				flex: 3;
			  }
			}

			&:nth-child(odd) {
			  background-color: $color-secondary-alt;

			  &.relations_neutral {
				background-color: $color-secondary-alt;
			  }
			}
		  }
		}
	  }
	}

	table {
	  a {
		color: $color-text;
		@include respond-below(sm) {
		  padding: 0 .5rem;
		}

		&.moc {
		  color: #00b7ff;
		}

		&.gc {
		  color: #00e413;
		}
	  }

	  tr {
		//display: flex;
		//justify-content: space-between;
		margin: .125rem 0;
		//@include respond-below(sm) {
		//  flex-wrap: wrap;
		//  justify-content: center;
		//}

		&:first-child th {
		  font-weight: bold;
		  background: $color-bg-th;
		  color: $color-text;
		  font-size: $text-small;
		  padding: .5rem .125rem;

		  &.right {
			padding-right: .25rem;
		  }
		}

		td {
		  &.moc,
		  &.mow,
		  &.mod,
		  &.gc {
			color: $color-text;
		  }
		}

		th {
		  padding: 0 2px;
		}

		//td {
		//  display: flex;
		//  align-items: center;
		//}
	  }
	}
  }
}

#intel {
  margin: 36px 0 0;
  position: relative;

  &:before {
	content: "Intel";
	text-align: center;
	display: inline-block;
	width: calc(100% - 4px);
	position: absolute;
	top: -32px;
	padding: 8px 0;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	color: $color-offwhite;
	background: $color-secondary;
	background: linear-gradient(to right, $color-background 0%, $color-secondary 50%, $color-background 100%) !important;
	border: 1px solid transparent;
	border-top: none;
	border-image: linear-gradient(to right, transparent 0%, rgba(82, 165, 248, .5) 50%, transparent 100%);
	border-image-slice: 1;
	line-height: 100%;
  }

  tr {
	background: $color-secondary;

	th,
	td {
	  color: $color-primary;
	  background: transparent !important;
	}

	&:nth-child(even) {
	  background: $color-secondary-alt;
	}

	&:nth-child(5) {
	  background: transparent;

	  th {
		padding: 1rem 0 .25rem;
	  }
	}
  }
}

#load_box {
  background: $color-background;
  border: 1px solid rgba($color-primary, .5);
  color: $color-offwhite !important;
  padding: 0;

  * {
	color: $color-offwhite !important;
  }
}

.relations_own_member,
.relations_neutral,
.relations_nap,
.relations_war,
.relations_allied {
  outline: none;
}

.relations_war {
  background: rgba($color-negative, .25) !important;
}

.relations_neutral {
  background-color: $color-secondary;

  &:nth-child(odd) {
	background-color: $color-secondary-alt;
  }
}

.relations_nap {
  background: rgba($color-neutral, .2) !important;
}

.relations_friendly {
  background: rgba($color-positive, .15) !important;
  outline: none;
}

.relations_allied {
  background: rgba($color-positive, .35) !important;
}

.relations_own_member:not(.header) {
  background: rgba($color-own, .25) !important;
}

#page_universe_launches,
#page_universe_covert_ops,
#page_universe_misc,
#page_universe_races,
#page_universe_xp,
#page_universe_politics,
#page_universe_feed,
#page_universe_combat_reports {
  table {
	tr {
	  &:first-child {
		th {
		  font-weight: bold;
		  background: $color-bg-th;
		  color: #ccc;
		  font-size: $text-small;
		  padding: .5rem .125rem;

		  abbr[title] {
			text-decoration: none;
		  }
		}
	  }

	  .moc {
		color: #00b7ff;
	  }

	  .gc {
		color: #00e413;
	  }

	  .ter {
		color: $color-terran;
	  }

	  .cat {
		color: $color-cathaar;
	  }

	  .xan {
		color: $color-xandathrii;
	  }

	  .zik {
		color: $color-zikonian;
	  }

	  .etd {
		color: $color-eitraides;
	  }

	  a,
	  .tablesort_asc,
	  .tablesort_desc {
		color: $color-text;
		@include respond-below(sm) {
		  padding: 0 .5rem;
		}
	  }
	}
  }
}

#page_universe_combat_reports {
  table {
	tr {
	  th {
		&:empty {
		  background: transparent !important;
		}
	  }

	  td {
		&[colspan="8"] {
		  background: transparent !important;
		}
	  }

	  br {
		content: "";
		margin: 2rem;
		display: block;
	  }
	}
  }
}