#page_universe {
  .maintext {
    padding: 0;
  }

  #contents {
    .container {
      &:nth-last-child(2),
      &:nth-last-child(3) {
        table {
          tr {
            th,
            td {
              width: auto !important;

              &:nth-child(1) {
                flex: 2;
              }

              &:nth-child(2) {
                flex: 3;
                @include respond-below(sm) {
                  display: none;
                }
              }

              &:nth-child(3) {
                flex: 3;
              }

              &:nth-child(4) {
                flex: 7;
                @include respond-below(sm) {
                  display: none;
                }
              }

              &:nth-child(5) {
                flex: 6;
                @include respond-below(sm) {
                  display: none;
                }
              }

              &:nth-child(6) {
                flex: 2;
              }

              &:nth-child(7) {
                flex: 3;
              }

              &:nth-child(8) {
                flex: 3;
              }

              &:nth-child(9) {
                flex: 3;
              }
            }
          }
        }
      }
    }

    table {
      a {
        color: $color-text;
        @include respond-below(sm) {
          padding: 0 .5rem;
        }
      }

      tr {
        display: flex;
        justify-content: space-between;
        margin: .125rem 0;
        @include respond-below(sm) {
          flex-wrap: wrap;
          justify-content: center;
        }

        &:first-child th {
          font-weight: bold;
          background: $color-borders;
          color: $color-text;
          //padding: .75rem 0;
          font-size: .75rem;
          padding: 0.5rem .125rem;
          display: flex;
          align-items: center;

          &.right {
            padding-right: .25rem;
          }
        }


        td {
          &.moc,
          &.mow,
          &.mod,
          &.gc {
            color: $color-text;
          }
        }

        th {
          padding: 0 2px;
        }

        td {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

#intel {
  tr {
    th,
    td {
      color: $color-primary;
    }
  }
}


#load_box {
  background: $color-borders;
  border: 1px solid rgba($color-primary, .5);
  color: $color-offwhite;
}


.relations_own_member,
.relations_neutral,
.relations_nap,
.relations_war,
.relations_allied {
  outline: none;
}

.relations_war {
  background: rgba($color-negative, 0.25);
}

.relations_neutral {
  background-color: $color-borders;
}

.relations_nap {
  background: rgba($color-neutral, 0.2);
}

.relations_friendly {
  background: rgba($color-positive, 0.15);
  outline: none;
}

.relations_allied {
  background: rgba($color-positive, 0.35);
}

.relations_own_member {
  background: rgba($color-own, 0.25);
}