#page_galaxy_status {
  #page {
    #contents {
      .maintext {
        table {
          tr {
            td {
              &.mission_return {
                background: rgba($color-grey, .5);
                color: $color-offwhite;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}