#page_galaxy_status {
  #page {
	#contents {
	  .maintext {
		table {

		  tr {
			&.mission_return {
			  background: rgba($color-grey, .1);
			  color: $color-offwhite;
			}

			td {
			  &.mission_return {
				background: rgba($color-grey, .1);
				color: $color-offwhite;
			  }
			}

			&[id*="notes_"] input[type="button"] {
			  margin: 0;
			}
		  }
		}
	  }
	}
  }
}