#page_galaxy_status {
  #page {
	#contents {
	  .maintext {
		table {
		  tr {
			&.mission_return {
			  background: rgba($color-grey, .1);
			  color: $color-offwhite;
			}

			td {
			  &.mission_return {
				background: rgba($color-grey, .1);
				color: $color-offwhite;
			  }
			}

			&[id*="notes_"] {
			  input[type="button"] {
				margin: 0;
			  }

			  td {
				form ~ form {
				  p {
					&:not(:first-child) {
					  input {
						&:nth-of-type(2) {
						  margin: .5rem 0 0 0;
						  width: 98%;
						}
					  }
					}
				  }
				}
			  }
			}
		  }
		}
	  }
	}
  }
}